<div class="container pagetop">
  <%= simple_format("

プライバシーポリシー


運営者(村田健太郎)は、会員の個人情報保護の重要性について認識し、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）を遵守すると共に、以下のプライバシーポリシー（以下「本プライバシーポリシー」といいます。）に従い、適切な取扱い及び保護に努めます。

1. 個人情報の定義
本プライバシーポリシーにおいて、個人情報とは、個人情報保護法第2条第1項により定義された個人情報、すなわち、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます。）を意味するものとします。

2. 本プライバシーポリシーでの「パフォーマー」、「クライアント」等の用語については、本サービス利用規約の第2条に記載されている場合は、その定義に従うものとします。

3. 個人情報の利用目的
運営者は、会員の個人情報を、以下の目的で利用いたします。
(1)「LOVE for Live House」のサービスの提供を行うため。
(2)「LOVE for Live House」のサービス利用に関するご案内、お問い合せ等に対応するため。
(3)運営者の商品、サービス等のご案内のため。
(4)「LOVE for Live House」のサービス利用に関する運営者の規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対処するため。
(5)「LOVE for Live House」のサービスに関する規約等の変更などを通知するため。
(6)運営者のサービスの改善、新サービスの開発等に役立てるため。
(7)運営者のサービスに関連して、個人を識別できない形式に加工した統計データを作成するため。
(8)その他、上記利用目的に付随する目的のため

4. 個人情報利用目的の変更
運営者は、個人情報の利用目的を相当の関連性を有すると合理的に認められる範囲内において変更することがあり、変更した場合には会員に通知又は公表します。

5. 個人情報利用の制限
運営者は、個人情報保護法その他の法令により許容される場合を除き、会員の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報を取り扱いません。ただし、次の場合はこの限りではありません。
(1)法令に基づき、個人情報の提供を求められた場合。
(2)人の生命、身体又は財産の保護のために必要がある場合であって、会員の同意を得ることが困難であるとき。
(3)公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、会員の同意を得ることが困難であるとき。
(4)国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、会員の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき。

6. 個人情報の適正な取得
運営者は、適正に個人情報を取得し、偽りその他の不正の手段により個人情報を取得いたしません。

7. 個人情報の安全管理
運営者は、個人情報の紛失、破壊、改ざん及び漏洩などのリスクに対して、個人情報の安全管理が図られるよう、運営者の従業員に対し、必要かつ適切な監督を行います。また、運営者は、個人情報の取扱いの全部又は一部を委託する場合は、委託先において個人情報の安全管理が図られるよう、必要かつ適切な監督を行います。

8. 第三者提供
支援者が、「LOVE for Live House」のサービスを通じてライブハウスに対して支援を行った場合、運営者は、当該支援の支援者及びライブハウス運営者双方の個人情報の全部又は一部（名前、住所、電話番号、メールアドレスその他運営者に提供した個人情報を意味します。）を、当該支援にかかる相手方へ提供します。

運営者は、上記会員間への個人情報の提供及び個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、あらかじめ会員の同意を得ないで、個人情報を第三者に提供しません。ただし、次に掲げる場合は上記に定める第三者への提供には該当しません。
(1)運営者が利用目的の達成に必要な範囲内において個人情報の取扱いの全部又は一部を委託する場合。
(2)合併その他の事由による事業の承継に伴って個人情報が提供される場合。

9. 共同利用
運営者は、以下のとおりお客様の個人情報を共同利用いたします。

(1)共同して利用される個人情報の項目
 会員の名前、住所、電話番号、メールアドレスその他運営者に提供した個人情報
(2)共同して利用する者の範囲
 運営者とパートナー契約を締結している企業、ならびにオファーを行ったクライアントとパフォーマー間。
(3)上記個人情報の管理について責任を有する者の氏名又は名称
運営者（第14項をご参照ください。）

10. 個人情報の開示
運営者は、会員の皆様から、個人情報保護法の定めに基づき個人情報の開示を求められたときは、本人からのご請求であることを確認の上で、当該会員に対し、遅滞なく開示を行います（当該個人情報が存在しないときにはその旨を通知いたします。）。ただし、個人情報保護法その他の法令により、運営者が開示の義務を負わない場合は、この限りではありません。なお、個人情報の開示につきましては、手数料（1件あたり500円）を頂戴しておりますので、あらかじめ御了承ください。

11. 個人情報の訂正等
運営者は、会員から、個人情報が真実でないという理由によって、個人情報保護法の定めに基づきその内容の訂正、追加又は削除（以下「訂正等」といいます。）を求められた場合には、本人からのご請求であることを確認した上で、利用目的の達成に必要な範囲内において遅滞なく必要な調査を行い、その結果に基づき個人情報の内容の訂正等を行い、その旨を当該会員に通知します。（訂正等を行わない旨の決定をしたときは、当該会員に対しその旨を通知いたします。）。ただし、個人情報保護法その他の法令により、運営者が訂正等の義務を負わない場合はこの限りではありません。

12. 個人情報の利用停止等
運営者は、会員から、会員の個人情報が、あらかじめ公表された利用目的の範囲を超えて取り扱われているという理由又は偽りその他不正の手段により取得されたものであるという理由により、個人情報保護法の定めに基づきその利用の停止又は消去（以下「利用停止等」といいます。）を求められた場合、その請求に理由があることが判明した場合には、本人からのご請求であることを確認の上で、遅滞なく個人情報の利用停止等を行い、その旨を当該会員に通知します。ただし、個人情報保護法その他の法令により、運営者が利用停止等の義務を負わない場合はこの限りではありません。

13. Cookie（クッキー）その他の技術の利用
運営者のサービスは、Cookie及びこれに類する技術を利用することがあります。これらの技術は、運営者による運営者のサービスの利用状況等の把握に役立ち、サービス向上に資するものです。Cookieを無効化されたい会員は、ウェブブラウザの設定を変更することによりCookieを無効化することができますが、Cookieを無効化すると、運営者のサービスの一部の機能をご利用いただけなくなる場合があります。

14.　お問い合わせ
開示等のお申出、ご意見、ご質問、苦情のお申出その他個人情報の取扱いに関するお問い合わせは、下記の窓口までお願い致します。

〒338-0002
埼玉県さいたま市中央区下落合4-19-1-102
村田 健太郎

E-mail：master@loveforlivehouse.com

受付時間は、平日10時から16時までとさせていただき、それ以外のお問合せは翌営業日以降の対応となります。

14.　継続的改善
運営者は、個人情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本プライバシーポリシーを変更することがあります。

  ") %>

</div>

<p class="center">
  <%= link_to 'トップページに戻る', root_path %>
</p>
