<% unless (current_user.basic.present? && current_user.bank.present?) %>
    <p class="margin__top__2em"><h5 class="title">ステップ1</h5></p>
    <p><h5 class="title">ユーザー情報の登録をお願いします。</h5></p>

    <p class="text__area">
      サービスのご利用にはご本人確認が必要です。<br>
      まずはユーザー情報の登録を行ってください。<br>
    </p>

    <% if performer? %>
      <p class="text_area">
        事前に以下のものがあるとスムーズです。<br>
        ・本人確認書類(運転免許書等)<br>
        ・振込先の銀行口座がわかるもの
      </p>
    <% end %>

    <p class="button__area center">
      <%= link_to "ユーザー情報登録を行う", edit_profile_path(current_user), class: "btn btn-success" %>
      <hr>
    </p>

<% end %>
