<% unless @user.performer_profiles.present? %>
  <h5 class="title">ステップ2</h5>
  <h5 class="title">グループを作成しましょう。</h5>

  <p class="text__area">
    グループとは、あなたが参加しているバンドやユニットなどのことです。<br>
    ソロ演奏も同様にグループ登録できます。<br>
    グループは複数登録することができます。</p>
  <p>さっそく登録してみましょう。</p>


  <% if @user.certified? %>
	<p class="button__area center">
    <%= link_to "新しいグループを作成する", new_user_performer_profile_path(current_user), class:"btn btn-success" %>
  </p>
  <% else %>
  <p class="annotation red">
    グループは本人確認が完了した後にユーザー登録承認メールが届き次第、作成が可能になります。<br>
  </p>
  <% end %>

<% else %>
  <%= render 'reward' %>
<% end %>
