<h5>支援金額の詳細</h5>
<br>

<table class="table">
  <tr>
    <th class="left">店舗名</th>
    <th class="right">人数</th>
    <th class="right">支援総額(受取可能額)</th>
  </tr>
  <% @user.livehouses.each do |group| %>
  <tr>
    <td class="dashboard__index middle_height left">
      <span>
  		<%= image_tag(group.profile_photo, class:"profile-48round") if group.profile_photo.attached? %>
  		<%= group.livehouse_name %>
      </span>
    </td>
    <td class="dashboard__index middle_height right">
      <%= show_reward(group)[0] %>人
    </td>
    <td class="dashboard__index middle_height right">
      <%= show_reward(group)[1].to_s(:delimited) %>円<br>
    </td>
  </tr>
  <% end %>
</table>

<p class="annotation">※受取可能額は既に当月にお引き出しされた金額も含まれますのでご了承ください。</p>
