<div class="container">
  <h2 class="title">ダッシュボード</h2>
  <hr>

  <div id="dashboard-top">
    <%= render 'dashboard_top' %>
  </div>

  <% if supporter? %>
    <%= render 'dashboard_client' %>

  <% elsif livehouse? %>
    <br>
    <div id="dashboard-performer" >
      <%= render 'dashboard_performer' %>
    </div>

  <% end %>

</div>
