<div class="container pagetop">
  <div class="col-lg-10">
    <h2 class="title">Stripeとの連携 - 完了</h2>
    <p>
      ありがとうございます。Stripeとの連携が完了できました。
    </p>
    <div class="text__area">
      <h5 class="title">入金状況等の確認方法</h5>
      <p>
        今後、支援金の入金状況についてはお客様にて作成したSTRIPEアカウント上でリアルタイムで確認することができます。<br>
        またSTRIPE社の提供するスマートフォンアプリからも同様に、お客様のSTRIPEアカウントの状況を確認することが可能です。<br>
      </p>
      <h5 class="title">手数料について</h5>
      <p>
        サポーターからの支援金は、このアカウントに紐付けられたライブハウス運営者様のSTRIPEアカウントに直接送金されます。<br>
        その後、お客様のSTRIPEアカウントから当サービスのシステム維持費(5%)が差し引かれ、さらに残った金額(送金金額の95%)に対して3.6%のSTRIPE手数料が差し引かれます。<br>
        実質手数料は約8.5%となり、残りの約91.5%がライブハウス運営者の皆さまが受け取ることのできる金額となります。<br>
      </p>
    </div>
  </div>
</div>
