<div class="container pagetop">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h3 class="margin-bottom-1em">特定商取引法に基づく表示</h3>
      <p class="margin__vertical__2em">
        支援者(本サービスを介して支援を行う方)とライブハウス運営者(ライブハウスを登録し支援を募る方)で内容が異なります。<br>
        本表示内に出てくる用語については、<%= link_to '「LOVE for Live House」利用規約', terms_of_services_path, target:'blank' %>に定められている場合はその定義に従うものとしますので、必ず利用規約についてもご確認ください。
      </p>

      <table class="table left">
        <tr>
          <td>事業者</td>
          <td>LOVE for Live House運営事務局</td>
        </tr>
        <tr>
          <td>ウェブサイトURL</td>
          <td><%= link_to 'https://www.loveforlivehouse.com', 'https://www.loveforlivehouse.com' %></td>
        </tr>
        <tr>
          <td>サービスへの登録にかかる費用</td>
          <td>
            支援者、ライブハウス登録者ともに一切無料です。<br>
            支援者の方は会員登録不要でご利用いただけます。<br>
            ライブハウス登録をされる場合は別途米国Stripe社のアカウントへの登録が必要です。<br>
            Stripe社へのアカウント登録も無料です。
          </td>
        </tr>
        <tr>
          <td>サービスの利用にかかる費用(販売価格)</td>
          <td>
            支援者:<br>
            1000円以上で、ライブハウス運営者に対してご自身が支援したいと思った金額をお好きに設定してお支払い頂けます。<br>
            <br>
            ライブハウス運営者:<br>
            支援者より入金があった金額の8.5%が決済手数料として発生します。<br>
            内訳は本サービスのシステム維持費(4.9%)及びStirpe社の手数料(3.6%)です。<br>
          </td>
        </tr>
        <tr>
          <td>支払方法</td>
          <td>
            本サービスは決済インフラに米国Stripe者のサービスを使用しています。<br>
            <br>
            支援者: <br>
            クレジットカード及びデビットカード決済が可能です。<br>
            領収証は決済が完了した時点で、Stripe社よりメールで届きます。<br>
            <br>
            ライブハウス運営者:<br>
            支援者からライブハウス運営者への決済が完了した時点で、ライブハウス運営者のStripeアカウントへ直接送金されます。<br>
            前述の手数料のお支払いはStripe側で自動的に計算が行われ、差引金額がライブハウス運営者の銀行口座へ入金されます。<br>
          </td>
        </tr>
        <tr>
          <td>支払時期</td>
          <td>
            支援者:<br>
            クレジットカード及びデビットカードの決済が正常に完了した時点でライブハウス運営者のStripeアカウントに入金されます。<br>
            <br>
            ライブハウス運営者:<br>
            Stripeアカウントからライブハウス運営者の銀行口座には最短週払いが可能ですが、その設定についてはライブハウス運営者自身で行っていただく必要があります。
          </td>
        </tr>
        <tr>
          <td>商品代金以外の料金について</td>
          <td>
            その他にかかる費用はございませんが、イレギュラー対応が発生した場合はサービス利用者側で負担するものとします。<br>
          </td>
        </tr>
        <tr>
          <td>商品の返品・キャンセルについて</td>
          <td>
            支援者が一度ご入金をされた後は返金に応じられないものとしますので、支援の際は内容や条件、設定金額を充分にご確認ください。<br>
            運営者の退会も特に費用は発生しませんが、既に支援金を受け取っている場合は支援者に対して誠意ある対応をお願い致します。<br>
            詳細については利用規約をご確認ください。
          </td>
        </tr>
        <tr>
          <td>問い合わせ先</td>
          <td>
            お問い合わせにつきましては原則、本ホームページの<%= link_to "問い合わせフォーム", new_inquiry_path %>よりお願い致します。<br>
            お取引やサービスについてのお問い合わせについてはお電話でお受けすることができません。 <br>
            <br>
            LOVE for Live House サービス運営者：村田 健太郎<br>
            メールアドレス：master@loveforlivehouse.com<br>
            <br>
            お問い合わせ応対時間: 平日10時〜16時
          </td>
        </tr>
        <tr>
          <td>その他</td>
          <td>
            お問い合わせやご要望等については、すべて電子メールでの対応とさせていただきます。<br>
            問い合わせ先はサービス運営者の情報となります。各ライブハウス運営者の情報については本サービスの各ライブハウスページに記載しております。<br>
            <br>
            以上の記載事項以外に「特定商取引法」に基づく表示項目に関しての請求があった場合は適宜対応いたします。
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
