<div class="container pagetop">

  <p class="margin-bottom-1em">特定商取引法に基づく表示</p>

  <p>本表示内に出てくる用語については、<%= link_to '「LOVE for Live House」利用規約', terms_of_services_path, target:'blank' %>に定められている場合はその定義に従うものとしますので、必ず利用規約についてもご確認ください。</p>

  <div>
    <%= simple_format("

    ■ウェブサイトURL
    https://www.loveforlivehouse.com

    ■提供事業者
    「LOVE for Live House」のサービス内で表示されているライブハウス運営者(当サービスに会員登録を行い、自身の運営または所有するライブハウスの情報を掲載される方)の名称、ホームページは、各ライブハウスページに記載されています。
    各ライブハウス運営者の住所、電話番号、通信販売に関する業務の責任者その他の法定記載事項については請求があった後に適宜提供致しますので、必要な方は下記お問い合わせ先までご連絡ください。

    ■サービスへの登録にかかる費用
    「LOVE for Live House」のサービスへの登録、閲覧にかかる費用は一切無料です。
    ライブハウス運営者が本サービスへ会員登録する際も一切無料ですが、登録の過程で当サービスが決済システムとして利用している、米国Stripe社のアカウント登録が必要になります。
    Stripe社のアカウント登録に際しても費用は発生致しません。

    ■サービスの利用にかかる費用及び対価(販売価格)
    当サービスは、支援者(当サービスを通じて希望するライブハウスへ支援金を送る方)がご自身の希望する金額を、当該ライブハウス運営者のStripeアカウントへ直接送金を行う形式を採用しています。
    当サービスはライブハウス運営者が支援者から受け取った金額の4.9%をサービス維持費として頂戴いたします。
    このほか、米国Stripe社の決済手数料(支援者から受け取った金額の3.6%)が別途発生します。
    ライブハウス運営者が実際に受け取ることのできる金額は、支援者より受け取った金額の実質91.5%ほどとなります。
    当サービス側でイレギュラー対応が必要になった場合の費用(主に領収書の発送や振込にかかる銀行手数料等)については、その費用を会員(主にライブハウス運営者)が負担するものとします。

    ■お預かりした支援金の振込時期について
    支援者からの支援金はライブハウス運営者が登録したStripe社のアカウントを通じて数日程度(最大7日程度)でライブハウス運営者の銀行口座に入金されますが、ライブハウス運営者のStripeアカウント登録設定によってはそれ以上かかる場合がございます。
    引き出し可能になるまでの日数はその一切がStripe社の処理によるため、当サービス側でコントロールまたは早く振り込むよう要請するようなことはできません。

    ■返品・キャンセルに関する特約
    支援者が一度ご入金をされた後は返金に応じられないものとしますので、支援の際の金額設定には充分お気をつけください。
    支援したいライブハウス運営者が既に退会した等の事由により当サービスから正常に支援金をお届けできなかった場合に限り、支援者からの申告がにより支援者に払い戻しができるものとします。
    この際、送金にかかる費用(振込手数料・送金手数料等)は原則支援者のご負担となりますのでご了承ください。
    ライブハウス運営者の退会に関しましても一切の費用は発生致しませんが、Stripeアカウントの解約についてはご自身で行っていただく必要がございます。

    ■問い合わせ先
    LOVE for Live House サービス運営者：村田 健太郎
    お問い合わせ先：master@loveforlivehouse.com
    電話番号: 09066788141
    (電話対応は行政・公的機関からの要請を除き一切行うことはありませんのでご了承ください)

    お問い合わせ応対時間: 平日10時〜16時

    ※お問い合わせやご要望等については、すべて電子メールでの対応とさせていただきます。
    ※上記はサービス運営者の情報となります。各ライブハウス運営者の情報については、当サービスの各ライブハウスページに住所等の連絡先を記載しております。
    ※以上の記載事項以外に「特定商取引法」に基づく表示項目に関しての請求があった場合は適宜対応いたします。

    ■その他
    お問い合わせ、改善要望等についてはサポートページ下部の問い合わせフォームよりお願いいたします。
    当ウェブサイトの「よくある質問」をクリックし、下部に表示のリンクより問い合わせが可能です。

      ") %>

  </div>
</div>
