<div class="container pagetop">

  <p class="margin-bottom-1em">特定商取引法に基づく表示</p>

  <p>本表示内に出てくる用語については、<%= link_to '「LOVE for Live House」利用規約', terms_of_services_path, target:'blank' %>に定められている場合はその定義に従うものとしますので、必ず利用規約についてもご確認ください。</p>

  <div>
    <%= simple_format("

    ■提供事業者
    「LOVE for Live House」のサービス内で表示されているライブハウス運営者(当サービスに会員登録を行い、自身の運営または所有するライブハウスの情報を掲載される方)の氏名又は名称等は、各ライブハウスページに記載されています。
    各ライブハウス運営者の住所、電話番号、通信販売に関する業務の責任者その他の法定記載事項については請求があった後に適宜提供致しますので、必要な方は下記お問い合わせ先までご連絡ください。

    ■ウェブサイトURL
    https://www.loveforlivehouse.com

    ■サービス利用にかかる費用
    「LOVE for Live House」のサービスへの登録、閲覧にかかる費用は無料です。
    ライブハウス運営者の本サービスへの会員登録も無料ですが、会員登録の過程で当サービスが決済システムとして採用している、米国Stripe社のアカウント登録が必要になります。
    Stripe社のアカウント登録に際して一切費用は発生致しませんが、支援金受取の際にはStripe社へ3.6%の決済手数料が生じます。

    ■対価
    支援者(当サービスを通じて希望するライブハウスへ支援金を送る方)は、ご自身の希望する金額を当該ライブハウス運営者のStripeアカウントへ直接送金を行うことになります。
    当サービスの対価は、ライブハウス運営者が支援者から受け取った金額から5%をサービス維持費として頂戴いたします。
    このほか、米国Stripe社の決済手数料(支援者から受け取った金額の3.6%)が別途発生します。
    このためライブハウス運営者が実際に受け取ることのできる金額は支援者より受け取った金額の91.4%前後となります。
    当サービス側でイレギュラー処理が必要になった場合の費用(領収書の発送や返金が必要になった場合等)については、その費用を会員(主にライブハウス運営者)が負担するものとします。

    ■お預かりした支援金の振込時期について
    支援者からの支援金はライブハウス運営者が登録したStripe社のアカウントを通じて数日で入金されることもありますが、最大で14日程度かかる場合がございます。
    引き出し可能になるまでの日数はその一切がStripe社の処理によるため、当サービス側でコントロールすることはできませんのでご了承ください。

    ■返品・キャンセルに関する特約
    支援者が一度ご入金をされた後は返金に応じられないものとします。
    ただし、支援したいライブハウス運営者が既に退会した等の事由により正常に支援金をお届けできないような場合には、支援者からの申告があった場合のみ全額を支援者に払い戻すものとします。
    この際、送金にかかる費用(振込手数料・送金手数料等)は原則支援者のご負担となりますのでご了承ください。

    ■支援申し込みの有効期限等
    支援の申込有効期限及び支払期限は、当サービスより支援を登録してから2日以内となります。当該支援について、期日までに入金がなされなかった場合は自動的にキャンセル扱いとなります。

    ■問い合わせ先
    LOVE for Live House 運営者：村田 健太郎
    お問い合わせ先：master@loveforlivehouse.com
    お問い合わせ応対時間: 平日10時〜16時 (時間外のお問合せは翌営業日以降の対応となります)
    所在地：埼玉県さいたま市中央区下落合4-19-1-102
    ※お問い合わせやご要望等については、一切お電話でお受けすることは致しませんのでご了承ください。
    サポートページの「問い合わせ・改善要望フォーム」よりお願いいたします。

    ■その他
    以上の記載事項以外に「特定商取引法」に基づく表示項目に関しての請求があった場合、適宜対応いたします。

    運営統括責任者：村田 健太郎


      ") %>

  </div>
</div>
