<div class="container pagetop">

  <p class="margin-bottom-1em">特定商取引法に基づく表示</p>

  <p>本表示内に出てくる用語については、<%= link_to '「love_for_live_house」利用規約', terms_of_services_path, target:'blank' %>の第2条に定められている場合はその定義に従うものとしますので、必ず利用規約についてもご確認ください。</p>

  <div>
    <%= simple_format("

    合同会社ギフトポート（以下「弊社」といいます。）が運営するウェブサイト「love_for_live_house」上において、クライアントとの間でパフォーマンスの依頼に関する契約を締結する事業者は、弊社ではなく、「love_for_live_house」のサービス内でパフォーマー登録している各個人又は法人（以下「パフォーマー」といいます。）となります。以下には、各パフォーマーについて共通に適用される事項を定めており、個別の事項は各パフォーマーへのオファー依頼ページをご確認ください。

    ■提供事業者
    「love_for_live_house」のサービス内で表示されているグループ（アーティストやミュージシャンのことを指します。）の登録事業者の氏名又は名称は、各グループプロフィールページならびにオファーページに記載されています。各提供事業者の住所、電話番号、通信販売に関する業務の責任者その他の法定記載事項については、請求があった後に適宜提供致しますので、必要な方は下記お問い合わせ先までご連絡ください。

    ■ウェブサイトURL
    https://www.love_for_live_house.jp

    ■サービス利用にかかる費用
    「love_for_live_house」のサービスへの登録、閲覧にかかる費用は無料です。クライアントよりオファーを行う場合、

    ■パフォーマンスへの対価
    「love_for_live_house」の各オファーページより、クライアントとパフォーマーの間でやり取りを行い取り決めた価格（パフォーマーへの報酬及びそのスタッフ人件費の税込価格に対して29.6％の「love_for_live_house」サービス利用料を含みます。）となります。

    ■パフォーマーの名刺販売について
    パフォーマーは「love_for_live_house」のサービス内より自身のグループプロフィールへのリンク先を記載した名刺を注文できます。
    名刺の価格、支払い方法については名刺作成依頼申込画面にて明示されますので、当該画面をご確認ください。
    支払完了後、7日以内にパフォーマーの登録した住所宛に商品をお届けいたします。

    ■代金の支払時期、支払い方法について
    パフォーマーとクライアントの間でオファー承諾されてから1週間以内か、パフォーマンス当日の3日前のうち、到来が早い日までに代金をお支払い頂きます。前記、オファー承諾のタイミングは、パフォーマーからクライアントに提示された見積りに、クライアントが承諾した時点となります。
    支払方法は、クレジットカード又は銀行振込となりますが、各スペースの利用申込ページにて表示される方法のみ可能となります。必ず利用申込ページをご確認下さい。
    パフォーマーへの名刺販売については、支払期限は申込みを頂いてから48時間以内となり、期限内にお支払いのない場合は自動的にキャンセル扱いとなります。

    ■返品・キャンセルに関する特約
    「love_for_live_house」利用規約の第17条から21条にて規定していますのでご確認ください。また、オファー完了後に通知されるメールにキャンセル時の返金方法、返金額、返金時期等について記載していますのでご確認ください。
    パフォーマーの名刺については、当社または発注業者の不手際による不具合が明らかな場合を除いて一切の返品に応じることはできません。

    ■お申し込みの有効期限等
    オファーの申込有効期限及び支払期限は、当該オファーが承諾されてから1週間以内か、パフォーマンス当日の3日前のうち、到来が早い日までとなります。当該オファーについて、期日までにクライアントとパフォーマー間で合意がなされなかった場合、及びクライアントからの支払がない場合、自動的にキャンセル扱いとなります。

    ■特別の販売条件
    各パフォーマーのパフォーマンスを提供する条件については、当該パフォーマーのグループプロフィールページにて表示しております。

    ■問い合わせ先
    love_for_live_house運営事業者：合同会社ギフトポート
    お問い合わせ先：info@giftport.jp
    お問い合わせ応対時間: 平日10時〜16時 (時間外のお問合せは翌営業日以降の対応となります)
    所在地：埼玉県さいたま市中央区下落合4-19-1-102
    ※お問い合わせやご要望等については、一切お電話でお受けすることは致しませんのでご了承ください。
    弊社サポートページの「問い合わせ・改善要望フォーム」よりお願いいたします。

    ■その他
    以上の記載事項以外に「特定商取引法」に基づく表示項目に関しご請求があった場合、適宜対応いたします。

    運営統括責任者：村田 健太郎


      ") %>

  </div>
</div>
