<div class="container pagetop">

  <p class="margin-bottom-1em">特定商取引法に基づく表示</p>

  <p>本表示内に出てくる用語については、<%= link_to '「LOVE for Live House」利用規約', terms_of_services_path, target:'blank' %>に定められている場合はその定義に従うものとしますので、必ず利用規約についてもご確認ください。</p>

  <div>
    <%= simple_format("

    ■提供事業者
    「LOVE for Live House」のサービス内で表示されているライブハウスの登録事業者の氏名又は名称は、各ライブハウスページに記載されています。各ライブハウス運営者の住所、電話番号、通信販売に関する業務の責任者その他の法定記載事項については、請求があった後に適宜提供致しますので、必要な方は下記お問い合わせ先までご連絡ください。

    ■ウェブサイトURL
    https://loveforlivehouse.herokuapp.com

    ■サービス利用にかかる費用
    「LOVE for Live House」のサービスへの登録、閲覧にかかる費用は無料です。

    ■対価
    「LOVE for Live House」のに掲載の各ライブハウスに対し、支援者が自ら決めた支援金額に対して7.5％の手数料となります。ただし、送金にかかる費用(振込手数料・送金手数料等)については会員が負担するものとします。

    ■お預かりした支援金の振込時期について
    日曜日までに入金が確認できた支援金については、翌週中に支援者の定めたライブハウスに対して支払いが行われるものとします。

    ■返品・キャンセルに関する特約
    原則、一度ご入金をされた後は返金に応じられないものとします。ただし、支援したいライブハウスが退会した等の事由により支援者の指定したライブハウスに振込が行えない場合は、送金にかかる費用(振込手数料・送金手数料等)を除いた全額を支援者に払い戻すものとします。

    ■支援申し込みの有効期限等
    支援の申込有効期限及び支払期限は、当サービスより支援を登録してから2日以内となります。当該支援について、期日までに入金がなされなかった場合は自動的にキャンセル扱いとなります。

    ■問い合わせ先
    LOVE for Live House 運営者：村田 健太郎
    お問い合わせ先：master@loveforlivehouse.com
    お問い合わせ応対時間: 平日10時〜16時 (時間外のお問合せは翌営業日以降の対応となります)
    所在地：埼玉県さいたま市中央区下落合4-19-1-102
    ※お問い合わせやご要望等については、一切お電話でお受けすることは致しませんのでご了承ください。
    サポートページの「問い合わせ・改善要望フォーム」よりお願いいたします。

    ■その他
    以上の記載事項以外に「特定商取引法」に基づく表示項目に関しご請求があった場合、適宜対応いたします。

    運営統括責任者：村田 健太郎


      ") %>

  </div>
</div>
