<div class="container pagetop">

<h3>リンク共有</h3>
  <div class="right margin-1em">パフォーマー名: <%= @performer.performer_name %></div>

  <hr>

  <div id="namecard__form__wrapper">
    <h4>リンクの共有</h4>
    <div class="copy_url margin__top_and_botttom__2em">
      <p>
        <h5>このグループのリンク</h5>
        <input id="copyTarget" type="text" value="<%= performer_url(@performer) %>" leadonly>
        <button onclick="copyToClipboard()" class="btn btn-sm btn-info">コピー</button>
      </p>
    </div>
    <div class="annotation margin__botttom__2em">
      <p>
        ※コピーボタンをクリックまたはタップし、LINEなどで共有できます。
      </p>
    </div>
  </div>
  
</div>

<script>

  function copyToClipboard() {
    var copyTarget = document.getElementById("copyTarget");
    copyTarget.select();
    document.execCommand("Copy");
    alert("リンクをクリップボードにコピーしました");
  }

</script>
