<div class="container">
  <h4>オーダーの詳細</h4>

  <div class="payment-detail">
    <p></p>
  </div>

    <div id="peyment-form">

    </div>
    <% if @order.payment_option == 1 %>
    <div id="card-transaction-button" class="padding__1em">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.application.credentials.STRIPE_PUBLISHABLE_KEY %>"
        data-label="クレジットカード決済"
        data-amount= "<%= @order.price %>"
        data-name="MUSICIANBOOK"
        data-description="カード決済を行います。"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-currency="jpy">
      </script>
    </div>
    <% else %>

    <% end %>

</div>

<%= javascript_tag do %>
  $(".radio_button_pay_options").on('click keyup', function() {
    if ($('input[name="name_card_order[payment_option]"]:checked').val() == 1 ){
      $('#card-transaction-button').show();
      $('#namecard__paymentform').hide();
    }

    if ($('input[name="name_card_order[payment_option]"]:checked').val() == 2 ){
      $('#card-transaction-button').hide();
      $('#namecard__paymentform').show();
    }
  });
<% end %>
