<div class="container">

  <h2 class="title__with_underline">サービスについて</h2>

  <div class="container">
    <%= image_tag('service_explanation_01.png', class:"full-width") %>
    <%= image_tag('service_explanation_02.png', class:"full-width") %>
  </div>

  <div class="text__wrapper">
    <h4 class="title">ライブハウス緊急支援に特化</h4>
    <div class="text__area">
      <p>応援したいライブハウスやライブバーを探しやすいよう、ライブハウス・ライブバー専用のサイトにいたしました。</p>
      <p class="annotation">※支援を受ける側の登録は音楽ライブを提供しているライブハウス・飲食店・コンサートホールに限定させていただきます。</p>
    </div>
  </div>

  <div class="text__wrapper">
    <h4>今すぐ資金を届けられる  <%= image_tag("powered_by_stripe.png", class: "stripe_badge") %></h4>
    <div class="text__area">
      <p>一般のクラウドファンディングと異なり、<span class="strong underline">ライブハウスへ直接かつ即時の支援が可能です。</span></p>
      <p>今まさに支援を必要としているライブハウスへ、迅速に支援金を届けられます。</p>
      <p class="annotation">※支援者様への領収証は電子メールでのお届けとなります。</p>
    </div>
  </div>

  <div class="text__wrapper">
    <h4 class="title">実質手数料も最安の8.5%</h4>
    <div class="text__area">
      <p>ライブハウス業界の支援に特化するため、一般のクラウドファンディングサイトで平均17%前後の実質手数料を8.5%に設定いたします。</p>
    </div>
  </div>

  <p class="annotation">
    ※寄付型のサービスになりますので、支援者様へのリターンは原則ありません。<br>
    ※決済インフラに米国Stripe社のサービスを使用します。ライブハウス登録をご希望される場合、本サービスのアカウントとは別ににStripe社のアカウントも必要になります(登録無料)。<br>
    ※本サービスの運用期間はおおむね1年程度を想定しています。<br>
  </p>

  <div class="button__area actions center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#RegistrationConfirmationModal">サービスを使ってみる</button>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="RegistrationConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="RegistrationConfirmationModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inquiryConfirmationModalTitle">
          ご利用前にご確認ください。
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body annotation">
        <div class="text__wrapper">
          <div>
            <h3 class="title">ご理解をお願いしたいこと</h3>
            <p>
              このサイトは法人化の予定があるものの、現時点では個人が運営開発しています。全ての業務に手がまわりにくいため、勝手ながら以下の優先順位に沿って対応を進めさせていただきます。<br>
              <br>
                1. ライブハウス運営者へなるべく早くお金を届けること<br>
                2. 新規登録作業(登録説明会・登録時のサポート・ライブハウスの本人確認)<br>
                3. ウェブサイトの改善作業のうち、優先順位の高いもの<br>
                4. ユーザーからのフィードバック収集作業<br>
                5. 支援者へのレポート作成(Twitterでの週報の予定)
              <br>
              ・上記以外の個別対応については対応が遅くなること、また対応をお断りする場合もありますのでご了承ください。<br>
              <br>
              ・手数料については可能な限り低く設定しますが、アクセス増加に伴うサーバー増強や開発に人手が足りなくなる等、必要経費の発生に伴い変更を余儀なくされる可能性があります。<br>
              <br>
              ・その他建設的なご意見やアドバイス等ございましたらどしどしお寄せください。<br>
              <br>
            </p>
            <p></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">戻る</button>
        <%= link_to '理解しました', new_user_registration_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
