<div class="container">

  <h2 class="title underline center">サービスについて</h2>

  <%= image_tag('service_explanation_02.png', class:"full-width") %>
  <%= image_tag('service_explanation_01.png', class:"full-width") %>
  <%= image_tag('service_explanation_03.png', class:"full-width") %>

  <div class="text__wrapper">
    <h5 class="title">ご利用にあたって</h5>
    <p class="annotation">
      ※ご支援をいただいた分の領収証は電子メールでのお届けとなります。<br>
      ※支援を受ける側の登録は音楽ライブを提供しているライブハウス・飲食店・劇場・コンサートホールに限定させていただきます。<br>
      ※決済には米国Stripe社のサービスを使用します。支援を受ける側での登録をご希望の場合、本サービスのアカウントとは別にStripe社のアカウントも必要になります(登録無料)。<br>
      ※本サービスの運用期間はおおむね1年程度を想定しています。終了時期が決まりましたら本サイト上にて事前にお知らせをいたします。<br>
    </p>
  </div>

  <div class="button__area actions center">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#RegistrationConfirmationModal">ライブハウス登録</button>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="RegistrationConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="RegistrationConfirmationModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inquiryConfirmationModalTitle">
          ご利用前にご確認ください。
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body annotation">
        <div class="text__wrapper">
          <div>
            <p>会員登録の有無に関わらず、本サービスの利用には利用規約が適用されます。</p>

            <h4 class="title">支援者の皆さまへ</h4>
            <p>
              このサイトは会員登録なしでご支援が可能です。<br>
              複数のライブハウスにご支援をされる場合は会員登録が便利ですが、ご希望されない場合は「会員登録しない」を押してライブハウスページより直接ご支援をお願い致します。<br>
              <br>
              領収証は電子メールでのお届けとなりますのでご了承ください。
            </p>
            <h4 class="title">ライブハウス運営者様へ</h4>
            <p>
              現在、支援を受ける側の登録は音楽ライブを提供しているライブハウス・飲食店・劇場・コンサートホールのみとさせていただきます。<br>
              <br>
              決済には米国Stripe社のサービスを使用しております。<br>
              支援金のお受け取りには別途Stripe社のアカウントが必要になります(登録無料)<br>
              本サービス登録後にご案内に従ってアカウントの作成をお願い致します。
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">登録しない</button>
        <%= link_to '会員登録に進む', new_user_registration_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
