<div id="home__jumbotron">
  <div id="home__jumbotron__wrapper">
    <h1 class="jumbotron__eyecatch__text">
      <span class="home__slogan">ライブハウスに</span>
      <span class="home__slogan">簡単に支援を届ける</span><br>
    </h1>
      <p id="home__slogan__subtext">
        <span class="slogan_subtext">ライブハウス支援特化型</span>
        <span class="slogan_subtext">クラウドファンディングサービス</span>
      </p>
      <div id="performer__search__box">
        <%= form_with url: performer_search_path, method: :get, local: true do |performer_search| %>
          <%= performer_search.text_field :keyword, placeholder: "ライブハウス名・地域", id: "performer-search-input", class:"form-control rounded-pill" %>
        <% end %>
      </div>
  </div>
</div>

<div id="new__performers">
  <h4 class="title center">新着ミュージシャン</h4>
  <%= render partial: 'partial/performer_list', locals: { performers: @new_performers} %>
</div>

<hr>

<div id="recently__viewed">
  <h4 class="title center">最近見たミュージシャン</h4>
  <%= render 'partial/recently_viewed_performers' %>
</div>
