<tr>
  <td style="padding:2em 1em 0 ;">
    これは自動返信メールです。<br>
    このメールアドレスに返信しても届きませんのでご了承ください。<br>
  </td>
</tr>

<tr><td style="padding:1em;"><hr></td></tr>

<tr>
  <td style="text-align:center;">
    LOVE for Live House カスタマーサポート<br>
  </td>
</tr>

<tr>
  <td style="text-align:center;padding:1em;">
  	<%= link_to "利用規約", terms_of_services_url %> |
  	<%= link_to "プライバシー", privacy_policy_url %> |
  	<%= link_to "ヘルプ", helps_url %> |
  	<%= link_to "運営者", root_url %>
  </td>
</tr>
