<div id="jumbotron-roadmap">
  <div class="container">
    <h1 class="billboard-eyecatch-text">ロードマップ</h1>
  </div>
</div>

<div class="container margin__vertical__2em">
  <div class="center margin-1em">
    <p>2020.4 Phase1</p>
    <h4 class="strong">会員獲得フェーズ ミュージシャンの名刺代わりになるサービスとして、機能を絞ってリリース。</h4>
    <hr>
    <p>2020.10 Phase2</p>
    <h4 class="strong">ミュージシャン登録数1000人突破、クライアントが簡単に検索・オファーできるようにする。</h4>
    <hr>
    <p>2021.4 Phase3</p>
    <h4 class="strong">クライアントが、生演奏に付随する音響・照明業者も一緒に依頼できるようにする。</h4>
    <hr>
    <p>2021.7 Phase4</p>
    <h4 class="strong">介護施設など、本当に予算がなく、切に演奏を求めている場所に限り、安くオファーできるソリューションを提供。</h4>
    <hr>
    <p>2021.10 Phase5</p>
    <h4 class="strong">サービスの水平展開(ライブハウス、クリエイター、声優、ダンサー、音響照明スタッフ等へのサービス提供)</h4>
  </div>
</div>
