<div id="help_search_component">
  <%= form_with url: help_search_path, method: :get, class:"form-inline" do |search_form| %>
    <%= search_form.text_field :keyword, placeholder: "ヘルプ検索", id: "search-input", class: "form-control mr-sm-2" %>
  <% end %>
  <div id="search__result__box">
    <ul id="search-result" class="list-group list-group-flush"></ul>
  </div>
</div>
