<div class="pagetop"><h2>コンタクト一覧</h2></div>

<div class="container">
	<div class="row">

	<% if supporter? %>

		<%= render 'partial/contact_index01' %>

	<% elsif livehouse? %>

		<%= render 'partial/contact_index03' %>

	<% end %>

	</div>
</div>
