<div class="container pagetop">
  <div class="row justify_content_center">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <%= render 'confirmation_view' %>
    </div>
  </div>
</div>
