<!--タイトル-->
<tr>
  <td style="text-align:center;font-size:1.25em;text-decoration:underline;font-weight:bold;padding:1em;">
    レビューが送信されました
  </td>
</tr>

<tr><td style="padding:0.5em;"></td></tr>

<!--リード文-->
<tr>
  <td style="font-size:1.1em;padding:1em;">
    LOVE for Live Houseをご利用くださりありがとうございました。
  </td>
</tr>

<!-- ハイライト -->
<tr>
  <td style="padding:1em;background-color:#ecf8ff;">
    レビュー及びフィードバックの送信ありがとうございます。<br>
    頂きましたフィードバックはサービス改善に役立ててまいります。<br>
    イレギュラー対応については、当社スタッフで対応が必要な場合はご連絡を差し上げる場合がございます。<br>
    <br>
    今後とも本サービスを何卒よろしくお願い致します。
  </td>
</tr>


<%= render 'partial/mailer_footer' %>
