<div class="container">

  <h2 class="title__with_underline">MUSICIANBOOKの目指すもの</h2>

  <div class="text__wrapper">
    <h4 class="title">誰でも簡単に、生演奏をお願いできるようにする。</h4>
    <div class="text__area">
      <p>パーティーや懇親会など、特別な日に生演奏をお願いしたい。<br>演奏家を探しているけれど、誰にどうやってお願いすればいいかわからない。</p>
      <p>「MUSICIANBOOK」は誰もが簡単に、さまざまなシーンで気軽にご利用いただけるプラットフォームを目指します。</p>
    </div>
  </div>

  <div class="text__wrapper">
    <h4>生活できない価格で仕事をするミュージシャンを、一人でも減らす。</h4>
    <div class="text__area">
      <p>若手ミュージシャンの多くが生活できない価格で仕事を引き受けてしまうために、プロミュージシャンの間でも演奏価格の崩壊が問題となっています。</p>
      <p>私達は彼らが適切な報酬を知る機会を提供することでこの問題に対処し、全てのミュージシャンの暮らしをより良いものにすることを目指します。</p>
    </div>
  </div>

  <div class="text__wrapper">
    <h4>企業が公式に、演奏家を支援しやすいシステムを構築する。</h4>
    <div class="text__area">
      <p>「MUSICIANBOOK」は演奏派遣会社と異なり、演奏家1人あたりに支払われる報酬額が明確に表示されます。</p>
      <p>当サービスを通じて演奏をお願いすることがそのまま演奏家の支援につながる。<br>そのようなサービスにするために全力で取り組んでいます。</p>
    </div>
  </div>

  <div class="button_area center margin__botttom__2em">
    <%= link_to 'サービスを使ってみる', new_user_registration_path, class:"btn btn-primary" %>
  </div>

</div>
