<div class="container">

  <div class="service__explanation__title">
    <h4 class="title">
      面倒なギャラ交渉を楽にして、<br>
      もっと音楽に専念しませんか？<br>
    </h4>
    <div class="button__area">
      <%= link_to '会員登録をする', new_user_registration_path, class:"btn btn-primary" %>
    </div>
  </div>

  <hr>

  <h2 class="title__with_underline">特徴</h2>

  <div class="text__wrapper">

    <h4 class="title">演奏終了後、7営業日以内にお支払い</h4>
    <div class="text__area">
      <p>
        クライアントからの前払い(預り金)を採用しているので安心、スピーディーなお支払いが可能です。<br>
        請求書や領収書も自動作成されるのでとても楽です。
      </p>
    </div>

    <h4 class="title">過度に報酬の安い仕事が来ない</h4>
    <div class="text__area">
      <p>
        フリーランスの立場ではお断りしづらい「食べていけない」仕事を減らすことで、ミュージシャンにつきものの「お金にまつわるストレス」を軽減します。<br>
        結果的に心身の健康を保ち、より音楽活動に専念しやすくなることが期待できます。
      </p>
      <p class="annotation">※アマチュア登録者は除きます。</p>
    </div>

    <h4 class="title">クライアントにリンクを教えるだけで、営業も簡単に</h4>
    <div class="text__area">
      <p>
        アーティストページを作成したら、あとはご自身のブログやSNSにリンクを設置するか、クライアントにURLを教えるだけ。<br>
        サイトからQRコード付きの名刺を作って配ることもできます。
      </p>
    </div>

  </div>

  <div class="button_area center margin__botttom__2em">
    <%= link_to 'サービスを使ってみる', new_user_registration_path, class:"btn btn-primary" %>
  </div>

</div>
