<div class="container">

  <div class="service__explanation__title">
    <h4 class="title">
      応援したいミュージシャンに、簡単に生演奏をお願いできるサービスです。
    </h4>
    <div class="button__area">
      <%= link_to 'サービスを使ってみる', new_user_registration_path, class:"btn btn-primary" %>
    </div>
  </div>

  <hr>

  <h2 class="title__with_underline">特徴</h2>

  <h4 class="title">会員登録・会費は一切無料</h4>
  <div class="text__area">
    <p>会員登録や会費は完全無料！ミュージシャンへの問い合わせも一切料金はかかりません。</p>
    <p>ミュージシャンへのオファーを確定したときのみお支払いが発生します。</p>
  </div>

  <h4 class="title">初めてでも簡単に演奏家にオファーできる</h4>
  <div class="text__area">
    <p>初めての方でも簡単に依頼できるよう、シンプルなサービス設計を心がけています。</p>
    <p>演奏の様子は動画で確認でき、レーダーチャートレビューで仕事の頼みやすさなどもひと目で分かり安心です。</p>
  </div>

  <h4 class="title">今までなかった、演奏家支援のためのプラットフォーム</h4>
  <div class="text__area">
    <p>
      サービス手数料は少なく、ミュージシャンには手厚く還元しています。<br>
      本サービスを通して演奏をご依頼いただくことが、そのまま演奏家の支援につながります。
    </p>
    <p>
      従来の演奏派遣業者のように、演奏者にいくら支払われているか分からないということもありません。<br>
      応援したい演奏家がいる方はもちろん、CSR・CSV活動での支援にも最適です。</p>
  </div>

  <div class="button__area center">
    <%= link_to 'サービスを使ってみる', new_user_registration_path, class:"btn btn-primary" %>
  </div>

</div>
