<div id="jumbotron-about1">
  <h1 class="jumbotron__eyecatch__text">
    <span class="home__slogan">ミュージシャンの</span>
    <span class="home__slogan">暮らしを</span><br>
    <span class="home__slogan">もっとハッピーに</span>
  </h1>
</div>

<%= render 'explanation_for_musicians' %>

<hr>

<%= render 'concept' %>
