<div class="container">
      <div id="card-transaction-button" class="padding__1em">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_4qhjEgfYG9J4lsdKTBZg06Y5"
          data-label="クレジットカード決済"
          data-amount= "<%= @payment.total %>"
          data-name="MUSICIANBOOK"
          data-description="オファーに対する支払いを行います。"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto"
          data-currency="jpy">
        </script>
      </div>


  <div class="card-transaction-comment">
    <p>
      クレジットカード決済には決済サービスのStripeを使用しています。<br>
      弊社サーバでカード情報を保持、通過するなく安全にクレジットカード決済ができます。
    </p>
  </div>
</div>
