<div id="cancel_buttons" class="button__area">

  <% if show_cancel_button?(@offer) %>
    <div class="container padding__1em" >
      <%= link_to "このオファーをキャンセルする", new_cancelled_offer_path(id: @offer.id), class: "btn btn-danger" %>
    </div>
  <% end %>

  <% if show_decline_button?(@offer) %>
    <div class="container button_area center" >
      <%= form_with model: @offer, local: true do |f| %>
        <%= f.hidden_field :offer_status, value: set_decline_status_value %>
        <%= f.submit "このオファーを取り下げる", class: "btn btn-danger", data: { confirm: "このオファーを本当に取り下げますか?" } %>
      <% end %>
    </div>
  <% end %>

</div>
