<div class="container">
  <% if estimation_exists?(@offer.id) #見積りがある場合 %>
    <%= render partial: 'offers/estimation_show', locals: { offer: @offer } %>
    <hr>
    <%= render partial: 'offers/estimation_show_buttons', locals: {offer: @offer} %>
  <% else  #見積がない場合 %>
    <div class="container padding__1em left">
      <p>見積りはまだありません。</p>
      <% unless @offer.offer_status == 0 %>
        <p class="strong">見積り参考金額(税込): <%= calculate_price(estimate_guarantee(@offer, @performer))[3].to_i.to_s(:delimited) %>円</p>
        <p>※上記にパフォーマー側で事前精算を希望した金額と、準備物の手配に要する費用が加算されます。</p>
      <% end %>
    </div>
  <% end %>
</div>
