<div id="offer_detail_no_offer" class="container padding__1em">
  <% if supporter? %>
    <h4 class="title">オファーはまだ作成されていません。</h4>
    <hr>
    <h5 class="title">オファーの流れ</h5>
    <p class="strong">1. オファーを作成する</p>
    <p>事前にメッセージでパフォーマーとある程度詳細を話し合ってからオファーに進んでください。<br>
      このページ下の「オファーを新規作成」ボタンをクリックして、リンク先のフォームから日時、場所、詳細等を入力し送信してください。</p>
    <p class="strong">2. パフォーマーからの見積りを承認</p>
    <p>パフォーマーから見積りが届きます。内容を確認後、承認してください。見積り確認後にオファーを取り下げたり再見積りを依頼することも可能です。</p>
    <p class="strong">3. お支払いの完了</p>
    <p>見積り承認後、7日以内にお支払いを完了してください。銀行振込の場合は演奏が行われる日の平日4営業日前までにお振込をお済ませください。</p>
    <hr>
    <h5 class="title">オファーの期限について</h5>
    <p class="strong red">以下のいずれかの期限を過ぎるとオファーは自動的に不成立となります。</p>
    <p>1. 演奏が行われる当日の3日前までに見積りが承認されない場合</p>
    <p>2. 演奏が行われる当日の3日前までに当社で入金が確認できない場合</p>
    <p>3. 見積り承認後、7日以内に入金が確認できない場合</p>
    <p class="annotation">※入金を済ませたにも関わらずオファーがキャンセルになった場合は恐れ入りますが、
      <%= link_to "サポート", new_inquiry_path(current_user) %>にお問い合わせください。</p>
    <hr>
    <div class="button__area center submit">
      <%= link_to "オファーを新規作成", edit_offer_path(offer), class: "btn btn-primary"%>
    </div>
  <% end %>

  <% if livehouse? %>
    <h4 class="title">オファーはまだありません。</h4>
    <hr>
    <h5 class="title">オファーの流れ</h5>
    <p class="strong">1. メッセージで内容を確認</p>
    <p>メッセージにてやり取りを行い、内容にご納得されましたらクライアントにオファーの作成を依頼してください。</p>
    <p class="strong">2. 見積りを作成</p>
    <p>クライアントからオファーが届きましたら内容を確認後、「見積」タブより見積りを作成してください。</p>
    <p class="strong">3. オファー確定後、仕事を遂行。</p>
    <p>クライアントが見積りを承認し、お支払いを済ませるとステータスが「オファー確定」となります。<br>
      この時点で演奏料をお預りしていますので<span class="strong">当日の仕事は確実に遂行するよう</span>心がけてください。</p>
    <hr>
    <h5 class="title">オファーの期限について</h5>
    <p class="strong red">以下のいずれかの期限を過ぎるとオファーは自動的に不成立となります。</p>
    <p>1. 演奏が行われる当日の3日前までにクライアントから見積りが承認されなかった場合</p>
    <p>2. 演奏が行われる当日の3日前までに当社でクライアントからの入金が確認できなかった場合</p>
    <p>3. 見積り承認後、7日以内に当社でクライアントからの入金が確認できなかった場合</p>
    <p class="annotation">※ご不明な点につきましては
      <%= link_to "サポート", new_inquiry_path(current_user) %>までお問い合わせください。</p>
    <hr>
    <div class="button__area center submit">
      <%= link_to "オファーを新規作成", edit_offer_path(offer), class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
