<div class="container">
  <% if supporter? %>
    <%= render partial: 'offers/payment_client', locals: { offer: @offer } %>
    <%= render partial: 'offers/reciept', locals: { offer: @offer } %>
  <% elsif livehouse? %>
    <%= render partial: 'offers/payment_performer', locals: { offer: @offer } %>
    <%= render partial: 'offers/reciept', locals: { offer: @offer } %>
  <% end %>
</div>
