//検索関連
.help__search_box{
  margin-top:2em;
  margin-bottom:2em;
}

//ヘルプ、問い合わせ
.to_inquiry{
  padding-top: 2em;
  padding-bottom: 2em;
}

//helpの画像サイズの最適化
.help__image {
  width: 100%;
  max-width: 720px;
  height: auto;
}
