<!--タイトル-->
<tr>
  <td style="text-align:center;font-size:1.25em;text-decoration:underline;font-weight:bold;padding:1em;">
    <%= @resource.email %>さん
  </td>
</tr>

<tr><td style="padding:0.5em;"></td></tr>

<!--リード文-->
<tr>
  <td style="font-size:1.1em;padding:1em;">
    love_for_live_houseで使用されているパスワードが変更されましたのでお知らせ致します。
  </td>
</tr>

<tr><td style="padding:1em;"></td></tr>

<!--リンクパネル-->
<tr>
  <td style="padding:1em;background-color:#eeeeee;">
    覚えのない場合は<%= link_to "サポート", new_inquiry_url %>までお問い合わせください。
  </td>
</tr>


<%= render 'partial/mailer_footer' %>
