<!--タイトル-->
<tr>
  <td style="text-align:center;font-size:1.25em;text-decoration:underline;font-weight:bold;padding:1em;">
    こんにちは、<%= @resource.email %>さん
  </td>
</tr>

<tr><td style="padding:0.5em;"></td></tr>

<!--リード文-->
<tr>
  <td style="font-size:1.1em;padding:1em;">
    パスワードの変更依頼を受け付けました。<br>
  </td>
</tr>

<!--本文-->
<tr>
  <td style="padding:1em;">
    変更を希望する場合は、以下のリンクよりパスワードのリセットを行って下さい。<br>
  </td>
</tr>

<tr><td style="padding:0.5em 1em;"></td></tr>

<!-- ハイライト -->
<tr>
  <td style="padding:1em;background-color:#ecf8ff;">
    <%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %>
  </td>
</tr>

<tr><td style="padding:1em;"></td></tr>


<%= render 'partial/mailer_footer' %>
