<div class="container">
  <h5 class="title">検索結果 (<%= @livehouses.count %>件)</h5>
  <div id="livehouse_search__result">
    <%= render partial: 'partial/livehouse_list', locals: {livehouses: @livehouses} %>
  </div>
</div>

<%= render partial: 'partial/pagination', locals: {elements: @livehouses} %>
