<!--リード文-->
<tr>
  <td style="font-size:1.1em;font-weight:bold;padding:1em;">
    入金後のキャンセルについて<br>
  </td>
</tr>

<!--本文-->
<tr>
  <td style="padding:1em;">
    クライアントには支払総額よりキャンセル料を差し引いた額が返金されます。<br>
    キャンセル料はクライアントの支払総額にキャンセル料率を乗じた金額となります。<br>
    また、パフォーマーには本来支払われるべき金額にキャンセル料率を乗じた金額が支払われます。<br>
    キャンセル料率は規約に基き、以下のように規定しております。<br>
    <br>
    A)クライアント都合によるキャンセル料率<br>
    <br>
    パフォーマンス日の30日前〜15日前まで: 50%<br>
    パフォーマンス日の14日前〜7日前まで: 80%<br>
    パフォーマンス日の6日前〜当日まで: 100%<br>
    <br>
    B)パフォーマー都合によるキャンセル料率<br>
    <br>
    キャンセルの時期にかかわらず、キャンセル料率は0%となります。<br>
    なお、パフォーマーのキャンセルによってクライアントに損害等が発生した場合、<br>
    当社は一切の責を負わず、パフォーマーが自らの責任においてこれに対処するものとします。<br>
    <br>
    C)悪天候や災害、感染症対応等の不可抗力によるキャンセル<br>
    <br>
    パフォーマンス当日の14日前〜7日前まで: 50%<br>
    パフォーマンス当日の6日前〜当日まで: 80%<br>
    <br>
  </td>
</tr>

<tr>
  <td style="font-size:1.1em;font-weight:bold;padding:1em;">
    キャンセル時のパフォーマーへのお支払い及び、クライアントへの払い戻しについて
  </td>
</tr>

<tr>
  <td style="padding:1em;">
    原則キャンセル承認後7営業日以内に、当サービスに登録されている銀行口座に振り込まれます。<br>
  </td>
</tr>
