<div class="container pagetop">
  <%= simple_format("


  MUSICIANBOOK利用規約
  平成31年4月4日更新


  第1章　総則

  第1条 （本規約の目的及び適用）
  1. 本利用規約は、株式会社ギフトポートが当社ウェブサイトにおいて「ミュージシャンブック（musicianbook）」の名称で運営するサービス(以下、「本サービス」とします。)に関して、本サービスを提供・運営する当社と会員、または会員間の権利義務関係を定めることを目的とし、本サービスの利用にかかる一切の取引・関係に適用されます。
  2. 当社が当社ウェブサイト上で随時掲載する本サービスの利用等に関するルール、諸規定、お知らせ等は本規約の一部を構成するものとし、以下本規約内において本規約という場合には、特段の表示のない限り、これらを含むものとします。

  第2条（定義）
  1. 本規約において使用する主要な用語の定義は、次のとおりとします。
    (1) 「当社」とは、合同会社ギフトポート(Giftport.inc)を意味します。
    (2) 「本サービス」とは、当社ウェブサイトにおいて「ミュージシャンブック（musicianbook）」の名称で提供する、登録・検索・コミュニケーション機能等の仕組みを介して、会員間でパフォーマンス(本項第5号で定義します。以下同様)の受発注をできるサービス並びに、パフォーマンスの受発注に係る決済手段を提供することを目的としたサービス（本サービスに追加・変更等が生じた場合は、当該変更等後のサービスも含みます。）を意味します。
    (3) 「会員」とは、第5条に基づき会員登録を行った個人、法人及びその他の団体を意味します。
    (4) 「登録希望者」とは、会員登録を希望しているが、第5条に基づく会員登録を行っていない個人、法人及びその他の団体を意味します。
    (5) 「パフォーマンス」とは、パフォーマーがクライアントに対して本サービス内で提供する、演奏、録音、ダンス、その他の実演を意味します。
    (6) 「クライアント」とは、会員のうち、本サービスを利用してパフォーマーにパフォーマンスの依頼をする立場の者を意味します。
    (7) 「パフォーマー」とは、会員のうち、本サービスを介してクライアントからパフォーマンスの依頼を受ける立場の者を意味します。
    (8) 「所属事務所等」とは、会員または会員になろうとしている者との間に専属契約、所属契約、マネジメント契約等、その活動に関わる何らかの契約を結んでいる芸能事務所、音楽事務所、プロダクション等を意味し、個人、法人その他の団体のいずれかは問いません。
    (9) 「所属事務所等の会員」とは、所属事務所等のうち、その所属パフォーマーが本サービスを利用することを許諾し、当該所属パフォーマーに代わって、本サービスへの会員登録を行った者を意味します。
    (10)「コンタクト」とは、本サービス内のメッセージ機能を使用して会員間で連絡を取り合うことを意味します。
    (11)「オファー」とは、クライアントが本サービス内の所定の画面から、パフォーマー及び所属事務所等の会員にパフォーマンスの依頼をすることを意味します。
    (12)「知的財産権」とは、特許権、特許を受ける権利、実用新案権、実用新案権登録を受ける権利、意匠権、意匠権登録を受ける権利、著作権、商標権その他の知的財産権に関して法令により定められた権利又は法律上保護される利益にかかる権利を意味します。
    (13)「パスワード」とは、会員が会員登録申請時に任意に登録するパスワードを意味し、ログイン時の認証に必要となるものをいいます。
    (14)「ユーザ名」とは、サービス利用希望者（第5条において定義します。）が会員登録申請時に登録情報として当社に提供した登録ニックネーム及びメールアドレスのアカウントを意味し、ログイン時の認証に必要となるものをいいます。
    (15)「パフォーマンス当日」とは、オファーにて定められた、パフォーマーがパフォーマンスを行う予定の日を指します。
    (16)「パフォーマンス終了時」とは、オファーにて定められたパフォーマンス終了予定日時のことを指し、オファーがキャンセルとなった場合は、本来オファーが行われた際にパフォーマンスが終了する予定の日時を指します。
    (17)「オファー支払総額」とは、一つのオファーに対してクライアントが支払った金額の全額のことを指します。
    (18)「グループ」とは、パフォーマー自身、またはパフォーマー自身がメンバー等として活動するアーティスト、バンド、ユニット等を指し、人数は1人から登録できるものとします。
    (19)「グループプロフィールページ」とは、パフォーマーが登録したグループのプロフィールページで、当サイト上で会員及び第三者に公開されるページを指します。
    (20)「一人あたり演奏料」とは、パフォーマーのグループ登録時に定めた、グループメンバー1人あたりの手取り報酬額を指し、消費税や源泉税等は含まれないものとします。
  2. 前項に定める用語以外の用語については、本規約の各条項において、必要に応じて適宜定義をするものとします。

  第3条 (本サービスの理念)
  1. 当社は、会員が本サービスを利用するにあたり、次に掲げる理念を会員に共有します。
    (1) クライアントが、気軽にパフォーマーにパフォーマンスを依頼できるソリューションを提供すること。
    (2) パフォーマーの生活の質の向上を目指すため、本サービスを通して、生活できないような価格で仕事を引き受けるパフォーマーを一人でも減らすこと。
    (3) 前号の目的を達成するために、本サービス内で登録パフォーマーに適正な報酬額を示し、パフォーマーの属する業界において生じる、演奏料の価格崩壊を解消すること。
    (4) パフォーマーの手取り収益を明示することにより、クライアントがパフォーマーを支援しやすい環境を整備すること。
  2. 会員は本サービスを利用するにあたり、前項の理念を理解、尊重して行動するものとします。

  第4条 (サービスの利用範囲)
  1. クライアントは、本サービスを利用して次のことを行うことができます。
    (1)パフォーマーを検索すること。
    (2)パフォーマーに本サービスを通して連絡を取ること。
    (3)パフォーマーに対し、オファーを行い、オファー確定のための支払いを行うこと。
    (4)オファーに対し、領収書や請求書を取得すること。
    (5)演奏者支援企業としての認定を当社から得ること。条件については、当社認定基準に準じます。
    (6)その他当社が将来提供を開始するサービスを利用すること。
  2. パフォーマーは、本サービスを利用して次のことを行うことができます。
    (1)本サービスを介してパフォーマー自身、またはグループのプロフィールを作成、編集、表示すること。
    (2)本サービスを介してオファーを受けること。
    (2)前項の目的を達成するために、本サービスを介してメッセージのやり取り、及びパフォーマンスに必要な種々の調整を行うこと。
    (3)本サービスに付随する名刺作成代行サービスを使用し、営業活動に使用すること。
    (4)本サービスにて登録したグループプロフィールページへのリンクを、自身のホームページやブログ、SNS上に掲載すること。
    (5)本サービスで受けたオファーが完了したのちに、当該オファーにて決定された報酬を受け取ること。
    (6)その他当社が将来随時提供を開始するサービスを利用すること。


  第2章　会員に関する規約

  第5条 (会員登録及びサービス利用開始手続き)

  1.本サービスの利用希望者が本サービスへの会員登録を行う際は、必ず本規約の内容を理解し遵守することに同意した上で、会員登録を行うものとします。本サービスへの会員登録が行われた時点で、会員は本規約の内容を理解し遵守することに同意したものとみなされます。
  2.本サービスへの会員登録は、アカウントを作成した時点で成立するものとします。
  3.会員は本サービスへの会員登録後、速やかに当社の定める一定の情報（ウェブフォームより登録された会員又はパフォーマーに関する情報を、以下「登録情報」といいます。）を当社の定める方法で、当社に提供することにより、本サービスの利用を開始できるものとします。サービスの利用に必要な登録情報は、本条第10項にて決定するものとします。
  4. 登録の申請は、本サービスを利用する個人、法人又はその他の団体自身が行うものとし、真実、正確かつ最新の情報を当社に提供することとします。
  5. パフォーマーとして会員登録を希望する者のうち、所属事務所等に所属している方は原則として、パフォーマーとしての会員登録はできません。ただし、パフォーマー登録希望者のうち、所属事務所等の了承を得た上で、所属事務所等の担当者が代理で会員となる場合に限り、例外とします。
  6. パフォーマーとして会員登録を希望する者は、登録時及び登録後において、所属事務所等に所属していないこと、また所属事務所等に所属することになった場合には、当該所属事務所等の了承を取った上で、当該所属事務所等の担当者が会員登録していることを、当社に対して保証するものとします。
  7. パフォーマーが本サービス登録後に所属事務所等に所属することになった場合は、所属事務所等が本サービスの利用を許可するかどうかにかかわらず、必ずパフォーマー自身で一旦、退会手続きを取るものとします。パフォーマーの本サービス利用継続に関し、所属事務所等の許可がおりた場合は、再度当該所属事務所等の担当者より、新規に会員登録を行うものとします。
  8. パフォーマーが本条第5項から7項に違反して当サービスに登録した結果、所属事務所等から当社に対し損害賠償請求や訴訟等が提議された場合、当社は一切責任を負わず、パフォーマー自身の責任においてこれを処理するものとします。
  9. 当社は、第1項に基づき登録を申請した者が、以下の各号のいずれかの事由に該当する場合は、当該登録を拒否することができるものとします。また、登録後に以下の各号のいずれかの事由に該当することが発覚した場合は、当社は予告なく当該会員のアカウントを削除し、再度の会員登録を拒否することができるものとします。
    (1)本規約に過去に違反し、又は違反するおそれがあると当社が判断した場合
    (2)当社に提供された登録情報の全部又は一部につき虚偽、誤記、記載漏れがあった場合
    (3)過去に本サービスの会員登録取消処分を受けたことがある場合
    (4)パフォーマーが自身の所属する所属事務所等に無断で、もしくは許可を得ないで会員登録していることが発覚した場合
    (5)未成年者、成年被後見人、被保佐人又は被補助人のいずれかであり、法定代理人、後見人､保佐人又は補助人の同意等を得ていなかった場合
    (6)本サービスとは別の当社が提供するサービスの利用規約等に違反した場合
    (7)反社会的勢力等（暴力団、暴力団員、右翼団体、左翼団体、反社会的勢力、その他これに準ずる者を意味する。以下同様とします。）である、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との何らかの交流若しくは関与を行っていると当社が判断した場合
    (8)その他、当社が会員登録を適当でないと判断した場合
  10. 会員が本サービス利用に必要な登録情報は以下の通りとします。
   (1) クライアントとしてサービス利用を希望する場合
    a. 氏名
    b. メールアドレス
    c. 電話番号
    d. 会社名または所属企業・団体
    e. 口座番号(必ずしも必要ではありませんが、返金が必要になった際に必要となります)
   (2) パフォーマーとしてサービス利用を希望する場合
    a. 氏名
    b. メールアドレス
    c. 電話番号
    d. 会社名または所属企業・団体
    e. 住所
    f. 本人確認書類
    g, 口座番号(報酬支払いの際に必要となります)
   11. 前項第2号にて規定した本人確認書類に使用可能な公的身分証明書は、以下のものとします。
    (1)以下の中からいずれか1点
      a. 運転免許証
      b. 旅券(パスポート)
      c. 個人番号カード(マイナンバーカード・写真付き住民基本台帳カード)
      d. 官公庁が写真を貼付した各種福祉手帳(身体障害者手帳など)
      e. 外国人登録証明書
      f. 特別永住者証明書
    (2)前号のものがない場合、以下の中からいずれか2点
      a. 健康保険、国民健康保険または船員保険等の被保険者証
      b. 共済組合員証
      c. 国民年金手帳または年金手帳
      d. 運転経歴証明書(平成24年4月1日以降交付のもの)
      e. 住民票の写しまたは印鑑証明書
      f. 学生証または会社の在籍証明書
   12. 当社は、会員より前項の申請があったときは速やかに、当該会員サービスの利用ができるよう審査を行うものとします。

  第6条 （登録情報の変更）
  会員は、登録情報に変更があった場合は、遅滞なく、会員用の管理画面を介して当該変更事項を登録するものとします。また、管理画面にて変更できない項目については当社に変更のための連絡をするものとします。

  第7条 （本サービスの利用）
  1. 会員は、本規約の定めに従い、本サービスを利用するものとします。
  2. 本サービスの利用は、会員自身が行うものとし、真実、正確かつ最新の情報を提供するものとします。
  3. 会員は本サービスを通じて会員が発信する情報につき、一切の責任を負うものとし、当社になんらの迷惑又は損害を与えないものとします。
  4. 会員が未成年、成年被後見人、被保佐人又は被補助人のいずれかである場合、本サービスの利用につき、個別の取引にかかる申込を行う際は、必ず事前に親権者その他の法定代理人、後見人､保佐人または補助人の承諾を得るものとします。また、当該承諾につき改めて確認が入る場合があることを承諾します。

  第8条 （利用停止）
  1. 会員は、本サービスを利用するにあたり、本規約の定めを遵守するものとします。また、当社は、会員の行為がこれに違反すると判断した場合には、当該会員に事前に通知することなく、本サービスの利用停止、取引の中止措置などを講じることができるものとします。
  2. 当社は、理由の如何を問わず、前項に定める利用停止、取引の中止措置などにより会員に生じた損害から、一切免責されるものとします。

  第9条 （個人情報の取得）
  本サービス利用の会員登録においては、当社が会員の個人情報を取得するものとし、当該個人情報につき、当社が別途定めるプライバシーポリシーの定めに従い、取り扱うものとします。


  第3章　サービスの利用

  第10条（契約の成立）
  1. クライアントは、本サービスにおいてパフォーマーの出演を希望する場合、本サービス所定の画面よりオファーを行うものとします。
  2. 本サービスでのクライアントとパフォーマーの間に発生する契約の発生は第13条にて規定します。なお、当社は、かかる契約の当事者となるものではなく、契約につき、売主又は買主のいずれの立場に関する責任も負いません。

  第11条 (コンタクト)
  1. 会員は、本サービス内のコンタクト機能を使って、会員間で問い合わせやオファーすることができるものとします。

  第12条 (オファー)
  1. クライアントは、本サービスのオファー作成画面より、パフォーマーもしくは所属事務所等の会員にオファーをすることができるものとします。
  2. クライアントがオファーの作成ができる条件は、第5条3項に記載のとおりとします。
  3. オファー送信からオファー完了までのは以下の手順にて進めるものとします。
    (1) クライアントからパフォーマーもしくは所属事務所等の会員とコンタクトを取り、オファーが可能かどうかの確認を行う。
    (2) クライアントからパフォーマーへオファーを送信する 。
    (3) パフォーマーは前号のオファーを受けるかどうかを判断し、承諾する場合は見積りをクライアントに送信する。
    (4) クライアントは、前号の見積りを承認した場合は承認後7日以内、またはオファー開始日時の3日前のいずれか早い方を期限として、当社指定の方法で支払いを実行する。
    (5) 当社は前号のクライアントからの入金が期限内に行われたことを確認したのち、クライアントとパフォーマー双方にオファーの確定を通知する。
  4. 個別のオファーにおいて、オファーが作成された時点において、パフォーマンスの日時や場所等の詳細は、確定されたものとみなされます。
  5. 会員間の認識の相違や会員の債務不履行、その他一切の理由により、オファーで取り決めたパフォーマンスの履行ができなくなるなどのトラブルが発生した場合、当事者間同士でトラブルの解決について話し合うものとし、当社はその損害等について一切の責を負わないものとします。

  第13条 (オファー確定のタイミング)
  前条のオファーについては、前条3項5号において、期限内にクライアントから当社に入金があったことを当社が確認し、クライアントとパフォーマー双方にオファーの確定を通知した時点をもって、オファーが確定するものとします。

  第14条 (利用料金について)
  1. 利用料金についてはパフォーマーから提示された見積り金額によるものとし、その内訳は原則、以下の合計額とします。
    (1) オファーするグループの1人あたり演奏料に、演奏者人数を乗じた金額
    (2) スタッフ・マネージャーの稼働がある場合、その人件費
    (3) 前1号、2号にかかる源泉徴収税、及び特別復興加算税
    (4) 所属事務所等の中間マージン、または手数料
    (5) 本サービスの利用料
    (6) 前1号から6号にかかる消費税
    (7) パフォーマーが見積りにて提示した事前精算経費
  2. 前項の本サービスの利用料については、前項1号から4号の合計金額に29.6%を乗じた金額になります。
  3. 前項の規定は、当社によるサービス利用料の変更やその他、会員に対する本サービス利用にかかる将来の課金の可能性を否定するものではありません。サービス利用料の変更やその他、会員に対する本サービス利用にかかる将来の課金を行う場合、当社は当社が定める方法により会員に対し、事前にその旨を通知するものとします。
  4. パフォーマンスに伴って発生した後日精算が必要な経費等については、当社を介さず会員間で直接やり取りをしても構わないものとします。ただしその結果として発生したトラブルや損害等について当社は一切の責任を負わないものとします。

  第15条 (無効となるオファー)
  1. 以下のオファーについては無効となります。
   (1) クライアントが支払いを実行するまでにクライアント、パフォーマーのいずれかがオファーを承諾しなかった場合。
   (2) クライアントより見積り承諾後、第12条3項4号にて定めた支払期限内に、クライアントから当社に入金がなかった場合。
  2. オファーが無効となった場合、オファーが無効となったことにより発生した損害等については、当社は一切の責を負わないものとします。

  第16条（キャンセル及び返金規定）
  1. 会員は、第13条によってオファーが確定した後は、原則としてオファーをキャンセルすることができないものとし、オファー確定後のキャンセルには所定のキャンセル料が発生します。
  2. キャンセル料は、当該オファーに対してクライアントが支払った金額の総額に、第17条から第19条にて定めるキャンセル料率を乗じた金額となります。
  3. キャンセルが発生した場合、パフォーマーには本来オファーが行われた際に支払われるべき金額に、第17条から第19条にて定めるキャンセル料率を乗じた金額が支払われます。
  4. クライアントは、オファー支払総額からキャンセル料を差し引いた金額を返金申請することができます。返金申請ができる時期及び期間については、第21条にて別途定めるものとします。
  5. キャンセル発生時の当社のシステム利用料については、本来当社が受領する予定のシステム利用料の金額に、第17条から第19条にて定めるキャンセル料率を乗じたものとします。

  第17条 (クライアント都合によるキャンセル)
  1. オファー確定後にクライアント側の都合により、当該オファーがキャンセルとなった場合のキャンセル料率は以下となります。
   (1) パフォーマンス当日の30日前〜15日前まで: 50%
   (2) パフォーマンス当日の14日前〜7日前まで: 80%
   (3) パフォーマンス当日の6日前〜当日まで: 100%
  2. クライアントのキャンセル理由がオファーを依頼したパフォーマーの不祥事によるもので、かつその不祥事がクライアントのイメージを毀損するような場合には本条ではなく第18条が適用されます。

  第18条 (パフォーマー都合によるキャンセル)
  1. オファー確定後にパフォーマー側の都合により当該オファーがキャンセルとなった場合、キャンセル料率は、キャンセルの時期にかかわらず0%となります。
  2. パフォーマーは当該オファーが本来完了した場合に受け取ることのできる報酬を一切受け取ることができないものとし、キャンセルによってクライアントに損害や補償等が発生した場合は、パフォーマー自らの責任においてこれを処理するものとします。パフォーマーのキャンセルによってクライアント、または他の依頼者に発生した損害等について、弊社は一切の賠償・補償等の責任を負わないものとします。

  第19条 (悪天候や災害等の不可抗力によるキャンセル)
  オファーが成立し入金が完了した後に、荒天中止や災害等の不可抗力により当該オファーがキャンセルとなった場合のキャンセル料率は、以下の通りとなります。
   (1) パフォーマンス当日の14日前〜7日前まで 入金額の50%
   (2) パフォーマンス当日の6日前〜当日まで	入金額の80%

  第20条 (パフォーマーに欠員が出た場合の返金額)
  1. オファー確定後、演奏家の欠員が発生することになった場合、クライアントは当該オファーに対し支払いを行った金額の総額に、以下に取り決めた返金率を乗じた金額の返金を申請することができます。
   返金率(%) = (当日欠員となった演奏家の人数) ÷ (オファーにて取り決めた演奏家の人数) × 100
  2. オファー確定後、演奏家の欠員が発生することになった場合、パフォーマーに支払われる金額は以下の式の通りとなります。
   パフォーマーの報酬 = (当該オファーで本来支払われるべき報酬) × (当日パフォーマンスを行った人数) ÷ (オファーにて取り決めた演奏家の人数)

  第21条(返金申請)
  1. オファー後のキャンセル(第17条から第19条)、もしくはパフォーマーの欠員(第20条)が発生した場合、クライアントは当社所定のフォームより返金申請を行うことができます。
  2. 前項の事由以外によるクライアントの返金申請は、一切認められません。
  3. 本条における返金申請をクライアントが行うことができる期限は、パフォーマンス終了時から48時間後までとします。

  第22条(返金申請に対する異議申立)
  1. クライアントへの返金申請に対しパフォーマーから異議申立があった場合、もしくはクライアントとパフォーマーの間で意見の対立があった場合、返金額については当サービスのメッセージ機能を通じてクライアントとパフォーマー間で協議するものとし、当社は両者の対立に一切関与または介入をせず、また一切の責任を負わないものとします。ただし意見対立の内容について、本規約にて取り決めがある場合は、本規約が優先されるものとします。
  2. 前項の事案が発生した場合、当社は客観的事実把握のために当該オファーまたは当該会員間のメッセージの内容を閲覧又は確認することができるものとし、会員は予めこれに同意するものとします。
  3. 本条1項の事案が発生した場合、当事者間での合意がなされるまで、当事者であるクライアントへの返金とパフォーマーへの報酬支払いが保留となる場合があることを、会員は予め同意するものとします。

  第23条(返金申請に対する支払い時期)
  当社はクライアントより返金申請があった場合、申請内容が第17条から第20条の事由に該当すると認定後、7営業日以内に返金手続きを行うものとします。ただし、第22条にて規定する事案が発生した場合、事実確認のために止むを得ず支払いが保留となる場合があることを、会員は予め同意するものとします。

  第24条(パフォーマーへの支払い時期)
  1. パフォーマーへの支払いは、パフォーマンス終了時より7営業日以内に、当社から登録銀行口座を通じて行われるものとします。ただし、第22条にて規定する事案が発生した場合、事実確認のために止むを得ず支払いが保留となる場合があることを、会員は予め同意するものとします。

  第25条(振込手数料)
  1. オファー完了後のパフォーマーへの支払いに関する手数料は当社が負担いたします。
  2. 第21条による返金申請にかかる手数料については会員負担となります。

  第4章 細則

  第26条 （本サービスの利用条件）
  1. 会員は、本規約に反しない範囲において本サービスを利用することができるものとします。
  2. 会員及び第三者は、以下の各号のいずれかに該当する行為をしてはなりません。
  (1)本サービスにて知り合った会員間で直接取引を行うこと(直接取引の禁止)。
  (2)本サービスのアカウントを使用して他人になりすます行為(なりすまし行為の禁止)。
  (3)当社、会員及び第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利又は利益を侵害又は侵害を助長する行為
  (4)法令に違反する行為
  (5)公序良俗に反する行為
  (6)所属する企業又は業界団体の内部規則等に違反する行為
  (7)特定の法人、団体又は個人を非難又は誹謗中傷する行為
  (8)政治的又は宗教的思想を含む情報を提供する行為及び政治的又は宗教的な勧誘を行う行為
  (9)本サービスと競合するサービス等を宣伝する行為及びこれに類する行為
  (10)会員の目的と合致しない外部ウェブサイトへのハイパーリンクを設置する行為及び第三者のために有償で外部ウェブサイトへのハイパーリンクを設置する行為並びにこれらに類する行為
  (11)検索エンジンスパム行為及び第三者の検索エンジンスパム行為を直接又は間接的に助長する行為並びにこれらに類する行為
  (12)本サービスを通じて、第三者の運営するアフィリエイトプログラムに参加する行為及びこれに類する行為
  (13)当社ウェブサイト内で不当に情報を操作する行為
  (14)不正アクセス、改ざん、ネットワークに負荷をかける、及びコンピューター・ウィルスや有害なコンピューター・プログラム等により当社ウェブサイトを攻撃する行為
  (15)コンピューター・ウィルスを含む電子メールなど有害なコンピューター・プログラム等を当社ウェブサイトに送信する行為
  (16)当サイトのデータベースに不正にアクセスまたは操作し、情報の窃取、改ざん、なりすまし等を行う行為
  (17)会員の判断に錯誤を与えるおそれのある行為
  (18)パフォーマーへのオファーや購入をする意図が全くないにもかかわらず、商品購入の申し込みをする行為
  (19)本サービス上において自動的に応答する等の機能を有する装置、ソフトウェア、アルゴリズム等を利用する行為
  (20)不当に情報を操作することを目的として利用する行為
  (21)不当な要求を執拗に繰り返すなどして、当社や会員に対し応答や対応を強要する行為
  (22)猥褻な情報又は青少年に有害な情報の送信、その他猥褻又は青少年に有害な言動を発する行為
  (23)異性交際に関する情報の送信、その他異性交際を目的として本サービスを利用する行為
  (24)物品の破壊を伴うパフォーマンスなど、会員間または第三者の物品・設備・財産等に損害を与えうるパフォーマンスを行うこと、または依頼すること、もしくは助長する行為を行うこと。
  (25)その他公正な取引慣行に反する行為
  (26)その他当社が不適切と判断する行為
  3. 会員または第三者が前項(1)に該当する直接取引を行った場合、本サービスにて同等のオファーを行った際に会員が支払うべき金額の5倍の金額を、受注者及び発注者双方に請求する権利を当社が有することを、会員は予め同意するものとします。
  4. 会員が前項(2)に該当するなりすまし行為を行った場合、その行為を行った者に対し直ちに金30万円を少額訴訟により請求する権利を当社が有すること、また、当該なりすまし行為による損害見積額が30万円を超えると見積もられる場合は、当社はさらに多い損害賠償額を請求する権利を有することを、会員は予め同意するものとします。
  5. 当社は、会員の本サービスの利用時の行為が本条第2項各号のいずれかに該当し、又は該当するおそれがあると当社が判断した場合には、会員に事前に通知することなく、当該行為の全部又は一部を停止させ、又は当該行為により当社ウェブサイトに掲載された情報（メッセージを含みますが、これに限られません。）の全部又は一部を削除する等かかる違反行為を排除するあらゆる措置を講じることができるものとします。当社は、かかる停止、削除等の措置を講じたことにより会員に生じた損害から、一切免責されるものとします。
  6. 当社は、会員の本サービスの利用時の行為が本条第2項各号のいずれかに該当し、又は該当するおそれがあると当社が判断した場合その他当社が必要と判断した場合には、メッセージの内容を閲覧又は確認することができるものとし、会員は予めこれに同意するものとします。
  7. 当社は、本サービスの運営及び保守管理並びに当社の事業上で必要と判断した場合、会員の本サービスの利用履歴その他メッセージの内容、利用会員著作物（第27条第3項において定義します。）、パフォーマー著作物等などを知得及び利用する場合があります。

  第27条 （権利帰属）
  1. 当社ウェブサイト及び本サービスに関する知的財産権は、全て当社又はパフォーマーを含む適法な権利者に帰属するものとし、会員としての登録の許可は、会員に対して、当社又はパフォーマーを含む適法な権利者の有する当社ウェブサイト及び本サービスに含まれる知的財産権の利用を許諾するものではありません。
  2. 当社は、会員の本サービスの利用にかかる統計的集計データを当社の裁量により利用・公表等できるものとします。
  3. 会員が制作し、会員が本サービスの利用に際して当社ウェブサイトに掲載・送信した表現物（以下「利用会員著作物」といいます。）に関する知的財産権（著作権法第27条及び第28条の権利を含みます。）は、全て会員に帰属するものとします。
  4. 前項にかかわらず、当社及び当社の指定する者は、利用会員著作物について、当社ウェブサイトをはじめ、当社と提携又は協力関係にある第三者が運営するウェブサイト及び情報誌等（以下「パートナーメディア」といいます。）を含む任意の媒体において、期間、態様及びオンライン・オフラインの別を問わず、会員に対価を支払うことなく、任意の目的（出版、公衆送信、放送、DVD化、本サービスの広告・宣伝等を含みますが、これらに限られません。）で、複製、公衆送信、譲渡、翻案及び翻訳等の利用を会員への事前の通知なく無償で行うことができるものとします。なお、かかる当社及び当社の指定する者による利用会員著作物の利用に際して、当社は、利用会員著作物をそのまま複製し、公衆送信等を行うだけでなく、掲載又は転載等の利用を行う媒体の仕様、デザイン又はコンセプト等に合わせるために、利用会員著作物を修正又は改変等を行うことができるものとします。また、会員は、利用会員著作物について、当社及び当社の指定する者に対して上記の利用につき異議を述べないものとします。
  5. パフォーマーは、当社が当社ウェブサイト及びパートナーメディアをはじめ、オンライン・オフラインの別を問わない任意の媒体において、本サービスにパフォーマー登録されたパフォーマーの写真、氏名（ペンネーム等の変名も含みます。以下、本条において同様とします。）、経歴その他登録情報の内容（以下「パフォーマープロフィール情報」といいます。）を公開することを予め承諾するものとし、当社は期間、態様を問わず、無償にて任意の目的（公衆送信、放送、本サービスの広告・宣伝等を含みますが、これらに限られません。）で、パフォーマープロフィール情報を利用（第三者への使用許諾を含みます。）できるものとします。
  6. 前項に定める当社によるパフォーマープロフィール情報の利用につき、パフォーマーに生じた損害について、当社は一切責任を負わないものとします。

  第28条 （登録取消）
  1. 当社は、会員が以下の各号いずれかの事由に該当する場合には、事前に通知又は催告することなく、当該会員について本サービスの利用を一時的に停止し、又は会員登録を取り消すことができるものとします。
  (1)本規約のいずれかの条項又は規定に違反した場合
  (2)当社に提供された登録情報の全部又は一部につき虚偽、誤記又は記載漏れが判明した場合
  (3)過去に会員の登録取消処分を受けたことがあることが判明した場合
  (4)会員が本サービスの運営を妨害した場合
  (5)会員が最後にログインした日から3 年が経過した場合
  (6)支払停止若しくは支払不能となり、又は破産、特別清算開始、会社更生手続開始、民事再生手続開始及びその他これらに準じる手続の開始申立てがあった又はかかる手続の申立てがなされていることが判明した場合
  (7)自ら振出し、若しくは引受けた手形又は小切手につき、不渡りの処分を受けた場合
  (8)差押、仮差押、仮処分、強制執行又は競売の申立てがあった場合
  (9)租税公課の滞納処分を受けた場合
  (10)死亡した場合又は後見開始、保佐開始若しくは補助開始の審判を受けた場合
  (11)第5条第9項各号に該当する場合
  (12)その他当社が本サービスの会員登録の継続が適切でないと判断した場合
  2. 会員は、原則として、いつでも当社の定める方法及び手順により当社に通知することで、会員登録の取消を申し出ることができるものとします。ただし、会員による商品提供を求める意思表示により、会員に対するパフォーマーの商品提供義務が発生し、かかる関係に基づく債権債務関係が発生している場合、会員登録取消は、当該債権債務関係につき何らの影響も及ぼさないものとします。
  3. 当社は、前2項に基づくサービスの利用の停止及び会員登録の取消により会員が被る損害について一切免責されるものとします。

  第29条 （権利等の保証）
  1. 会員は、会員による本サービスの利用、本規約第27条に基づく当社による利用を含むパフォーマー著作物等及びパフォーマープロフィール情報の利用、その他本規約に基づく会員の権利の行使又は義務の履行が、法令、会員の所属する業界団体の規則等又は会員と第三者との契約に違反せず、また第三者の知的財産権、人格権、名誉権、プライバシー権、パブリシティ権その他一切の権利を侵害しないことを保証します。
  2. 会員は、著作物等に関して、次のとおり保証します。
  (1)法令、会員の所属する業界団体の規則又は第三者との契約に違反していないこと
  (2)公序良俗に違反していないこと
  (3)猥褻な内容を含まないこと
  (4)特定の法人、団体及び個人を攻撃し、又は誹謗中傷していないこと
  (5)他人のプライバシーを侵害していないこと
  (6)虚偽の内容を含まないこと
  (7)差別的な表現を含まないこと
  (8)会員著作物等の公表等が犯罪行為とならないこと
  3. 会員は、前2項に反する事実を発見した場合には直ちに当社に通知するものとし、万一前2項に関して又は会員の本サービスの利用に起因して第三者から異議、苦情の申立あるいは実費又は対価の請求、損害賠償請求等があった場合には、当社に直ちに通知するとともに、弁護士費用等を含めて会員自身の費用と責任においてこれを処理するものとします。

  第30条 （設備等）
  1. 会員は、本サービスを利用するために必要な通信機器、ソフトウェア、SNSアカウント、その他これらに付随して必要となる一切の機器及び利用環境等を、自己の費用と責任において準備し、本サービスが利用可能な状態を維持するものとします。なお、会員が選択した利用環境により本サービスが利用できない場合でも、当社は、何らの責任も負わないものとします。
  2. 会員は、自己の費用と責任において、任意の電気通信サービスを経由して本サービスの利用環境に接続し、本サービスを利用するものとします。

  第31条 （機密保持）
  1. 本規約において「機密情報」とは、登録完了の先後を問わず、本サービスに関して、会員が当社または他の会員より書面、口頭、電子メール、その他電磁的・光学的記録媒体等の有形な媒体により提供された機密指定の情報（個人情報を含みます。）、技術データ又はノウハウ（これらには、サービス、ユーザ、市場、デザイン、マーケティング等に関する情報等を含みますが、以上の例示に限りません。）、非公開情報または情報解禁前の情報を指すものとします。
  2. 会員は、当社の事前の書面による承諾なく、機密情報を第三者に一切開示し又は漏洩してはならないものとします。但し、以下の各号の情報は機密情報から除外するものとします。
  (1)当社から開示された時点で、既に自ら保持していた情報
  (2)当社から開示された時点で、公知であった情報その他一般に利用可能となっていた情報
  (3)当社から開示された後に、会員の自己の責によらず公知となった情報その他一般に利用可能となった情報
  (4)当社から開示された後に、第三者から機密保持義務を負うことなく合法的に入手した情報
  (5)当社から開示された情報に基づかず、独自に開発した情報
  (6)当社が、機密情報としての扱いから除外することを会員へ通知した情報
  3. 会員は、当社の書面による事前の承諾がない限り、本サービスの利用にかかる目的以外に機密情報を使用しないものとします。
  4. 会員は、善良なる管理者の注意をもって機密情報を厳重に機密として管理・利用するものとします。
  5. 会員は、機密情報の公開や漏洩等により他の会員に損害を与えた場合、当社は一切の責任を負わず、会員の費用と責任においてこれに対処するものとします。
  6. 会員は、当社から要求があった場合、直ちにすべての機密情報を当社に返却し又は当社の指示に従い、機密漏洩に十分に配慮した方法で廃棄するものとします。
  7. 会員が、法令により開示を求められた場合、または裁判所、警察等の公的機関から開示を求められた場合、かかる求めに応じた開示は、本条の機密保持義務の対象外とします。但し、会員は、開示を求められた事実を遅滞なく当社に通知するものとします。

  第32条 （個人情報等）
  1. 会員は、本サービスを通じて知り得た会員の個人情報を厳重に管理し、第三者に開示又は漏洩してはならないものとします。
  2. 会員は、本サービスを通じて知り得た会員の個人情報を、会員から明示的に依頼された業務を履行する以外の目的及び当社が別途定める目的以外の目的で利用してはならないものとします。但し、当該会員による事前の同意がある場合は除きます。
  3. 会員は、当社が提供する情報の範囲を超えて、本サービスを通じて会員の個人情報を取得しようとする場合、事前かつ個別に利用目的を明示しなければならないものとします。
  4. 会員は、当社が求めたときは、直ちに会員又は登録パフォーマーの個人情報の取得状況、管理状況等について当社に報告するものとします。
  5. 会員は、本条に違反する事態が生じ、又は生じるおそれがあると知ったときは、直ちにその旨を当社に報告するとともに、それに対する当社の指示に従うものとします。
  6. 会員は、万一会員の管理する会員の個人情報が他に漏洩したことが発覚した場合には、直ちにその内容を当社に通知するものとし、かかる事態に起因し会員及び第三者から異議、苦情の申立あるいは実費又は対価の請求、損害賠償請求等があった場合には、当社に直ちに通知するとともに、弁護士費用等を含めて会員の費用と責任においてこれを処理するものとします。
  7. 前6項の規定は、会員の個人方法のほか、会員及びその関係者の活動に関わる開示されていない情報(情報解禁前の情報等)等も含むものとします。
  8. 当社の責に帰すべき事由により個人情報が漏洩してしまった場合の損害賠償は、会員1名につき500円が上限となります。


  第33条 （表示）
  会員は、広告、名刺、郵便物その他一切の媒体に関し、当社の名称又は当社との関係を表示する場合には、事前に当社が定めた表示方法及び表示内容による場合を除き、その可否、表示内容及び表示方法等について、事前に当社の承諾を求めるものとし、当該承諾に付帯する当社の指示に従うものとします。

  第34条 (名刺の作成)
  1. パフォーマーは、当サービスを介して仕事を受けるための名刺を、当サービスを通じて作成することができます。
  2. 前号の名刺の発注は、当サービス内の所定の画面から、指定の方法にて支払いを行うことで可能です。
  3. 前項の名刺に記載される内容は、パフォーマーまたはその所属グループの名称、該当する当サイトへのリンク及びQRコードとなり、連絡先情報(電話番号やメールアドレス)は記載されません。

  第35条(パフォーマーの営業活動について)
  1. 当社は、会員に対し以下のことを許可するものとします。
   (1) 当サービスにて作成した名刺を使って、パフォーマー自身の営業活動を行うこと。
   (2) 当サービスのパフォーマープロフィール情報のページを、パフォーマーまたは所属事務所等の運営するウェブサイト、ブログ、SNS等にリンクすること。
  2. 当サービスは会員とパフォーマーのマッチングサービスであり、当社とパフォーマーの間には一切の所属契約(マネジメント契約や専属契約等)はないものとします。名刺を作成することや、その他本サービスの利用によって、当社との所属関係が発生することは一切ないものとします。
  3. パフォーマーは自らの営業活動の際、あたかも当社の所属パフォーマーであると相手に誤認させるような行為を行ってはなりません。
  4. 当社はパフォーマーが第一項の営業活動の結果、会員または第三者との間にトラブル、損害等が発生した場合、パフォーマー自身、会員または第三者に生じた損害から一切免責されるものとします。

  第36条 （権利義務の譲渡等の禁止）
  会員は、当社の書面による事前の承諾なく、本規約上の地位又は本規約に基づく権利若しくは義務を、第三者に譲渡若しくは担保提供し、又は引受けさせる等の処分を行ってはならないものとします。

  第37条 （ユーザ名及びパスワード管理）
  1. 会員は、善良なる管理者の注意をもって、本サービスを利用する際のユーザ名及びパスワードを利用及び管理するものとします。
  2. 会員は、ユーザ名及びパスワードの第三者への使用許諾、貸与、譲渡、売買、名義変更、質権の設定その他の担保に供する等の行為を行ってはならないものとします。
  3. ユーザ名及びパスワードの管理不十分、使用上の過誤、第三者の使用等により被った損害は会員が負担するものとし、当社はかかる会員の損害から一切免責されるものとします。
  4. 会員は、ユーザ名及びパスワードの紛失、盗用並びに第三者による使用の事実又はそのおそれがある事実を発見した場合、直ちにその旨を当社に通知し、当社からの指示に従うものとします。
  5. 会員は、ユーザ名及びパスワードが不明となった場合、問合せ画面等を介して問合せを行うものとし、当社は、当社が定める手段により会員に対し必要な通知を行うものとします。

  第38条 （サービスの中断、停止又は終了）
  1. 当社は、以下の各号のいずれかの事象が発生した場合には、会員へ事前に通知することなく本サービスの中断又は停止を行うことができるものとします。
  (1)本サービスに関連するシステムの保守を緊急に行う場合
  (2)停電、火災及び天災等の不可抗力により本サービスの提供ができなくなった場合
  (3)その他当社が本サービスの中断又は停止が必要と判断した場合
  2. 当社は、理由の如何を問わず、前項に定める事由により本サービスが中断または停止したことにより、会員が被った損害から一切免責されるものとします。
  3. 当社は、本サービスに関連するシステムの定期的な保守又はリニューアル等を行う場合には、会員に対し実施日時等を事前に通知した上で、本サービスの中断又は停止を行うものとします。
  4. 当社は、本サービスに関連するリニューアル等により、会員に対して事前に通知した上で、本サービスの一部を終了することができるものとします。
  5. 当社は、本サービスの運営上の理由等により、会員に対して事前に通知した上で、本サービスの全部を終了することができるものとします。
  6. 当社は、理由の如何を問わず、本条に定める事由により本サービスが中断若しくは停止又は本サービスを終了したことにより、会員に生じた損害から一切免責されるものとします。

  第39条　（情報の保存及びダウンロードについての注意事項）
  会員から当サービスの利用にあたり提供された情報は、当社所定の期間に限り、本サービス上に保存されるものとします。当社は、かかる期間を超えて当サービスの利用にあたり提供された情報を保存する義務を負うものではなく、当社はかかる期間を経過した後はいつでもこれらの情報を削除できるものとします。なお、当社は、本条に基づき当社が行った措置に基づき会員に生じた損害について一切の責任を負いません。

  第40条 （サービスの更新）
  1. 当社は、当社ウェブサイト及び管理ツール等を構成する枠組み、機能、デザイン、記事等の内容、その他一切の本サービス運営上の仕様について、当社の判断により自由に変更することができるものとします。
  2. 当社は、理由の如何を問わず、前項に定める変更により、会員に生じた損害から一切免責されるものとします。

  第41条 （当社の保証の否認及び免責）
  1. 本サービスは当社ウェブサイトに掲載及び提供する個々のパフォーマーの提供する役務について、内容及び品質、付随情報並びにパフォーマーの役務提供にかかる能力、資格、権能を有することにつき、会員に対し保証するものではありません。
  2. 当社は、会員間で行われる役務の提供、情報の送受信、コミュニケーション等に伴い会員が何らかの損害を被ったとしても、当社は生じた損害について一切補償を行いません。
  3. 当社は、本サービスにおける提供情報の正確性、適法性、及び妥当性等については合理的な範囲内で確認しておりますが、会員個々の目的との適合性を保証するものではありません。
  4. 本サービスはパフォーマーに対して顧客の獲得や、それらを通じた売上を保証するものではありません。また、当社は、会員が求める他会員の存在、会員の権利能力及び行為能力並びに会員のパフォーマンス依頼の意思及び権限について、一切保証しません。
  5. パフォーマーは、本サービスの利用がパフォーマーの役務提供等に適用される法令及びパフォーマーの所属する業界団体の規則等に違反するか否かを自己の費用と責任により調査するものとし、当社は、パフォーマーによる本サービスの利用がパフォーマーの役務提供等に適用される法令及びパフォーマーの所属する業界団体の規則等に照らし、適法であること又は規則等に違反しないことを保証しません。
  6. 当社は、会員間で行われる本サービス外における役務提供等にかかる商談、連絡、コミュニケーション等には一切関与せず、本サービスの利用に関連して会員が費やした費用及び会員が被った損害（本サービスを通じたサービス提供に伴う事故、違法行為、紛争、債務不履行、契約の解除等による損害を含みますが、これらに限りません。）について一切補償しません。また、本サービスの提供の中断、停止、利用不能、変更及び当社による本規約に基づくパフォーマーの公開情報の削除、パフォーマーのパフォーマー登録の取消等に関連してパフォーマーが被った損害、損失、費用につき、当社は賠償又は補償する責任を一切負わないものとします。なお、本項における「損害、損失、費用」には、直接的損害及び通常損害のみならず、データの喪失、事業の中断、事業機会の喪失、逸失利益、その他の間接的、特別的、派生的若しくは付随的損害の全てを含むものとします。
  7. 当社ウェブサイトから他のウェブサイトへのリンクや、第三者から当社ウェブサイトへのリンクが設定される場合、当社は当社ウェブサイト以外のウェブサイト及びそれにより得られる情報に関して、理由の如何を問わず、一切の責任を負わないものとします。
  8. 当社は、本サービスにおけるSNSとの連携機能（連携するためのSNSにおけるアプリケーションを含む、以下同様とします。）を利用した際に、SNSに表示される情報に関して、理由の如何を問わず、一切の責任を負わないものとします。また、当該連携機能を利用した場合に、SNSと当社ウェブサイトで連携して表示される情報について、その連携による表示が実現すること及び継続することについて保証しないものとします。なお、本規約が終了したときには、当該連携機能による連携が終了する場合があります。
  9. 当社は、会員との契約が終了した場合、当該会員が掲載していた情報の一部又は全部について削除又は改変する場合があり、当該会員の情報（会員が掲載した記事等の情報を含みます。）に関連して会員が当社ウェブサイトに掲載した情報の一部又は全部を削除又は改変する場合があります。
  10. 当社は、本サービスの運用にその時点での技術水準を前提に最善を尽くしますが、障害が生じないことを保証するものではありません。通信回線やコンピュータなどの障害によるシステムの中断・遅滞・中止・データの消失、データへの不正アクセスにより生じた損害、その他本サービスに関して会員に生じた損害について、当社は一切責任を負わないものとします。
  11. 本サービスを利用する過程において、会員及び第三者の身体、財産、物品、設備など(公共物などすべてのものを含む)に傷害や破損、汚損、盗難等の被害が生じても、当社は賠償又は補償する責任を一切負わないものとします。

  第42条 （反社会的勢力の排除）
  1. 会員及びサービス利用希望者は、暴力団、暴力団員および暴力団員でなくなったときから5年を経過しない者、暴力団準構成員、暴力団関係企業に属する者、総会屋等、社会運動等標ぼうゴロ、特殊知能暴力集団等、テロリスト等、日本政府または外国政府が経済制裁の対象として指定する者（以下、上記の9者を総称して「暴力団員等」といいます。）、暴力団員等の共生者、その他これらに準ずる者（以下、上記のすべてを総称して「反社会的勢力」といいます。）のいずれにも該当しないこと、かつ将来にわたっても該当しないこと、および自らまたは第三者を利用して、暴力的な要求行為、法的な責任を超えた不当な要求行為、取引に関して、脅迫的な言動をし、または暴力を用いる行為、風説を流布し、偽計を用いまたは威力を用いて弊社の信用を毀損し、または弊社の業務を妨害する行為、その他これらに準ずる行為（以下総称して「不当な要求行為等」といいます。）を行わないことを確約するものとします。
  2. 当社は、会員が前項の規定に違反している疑いがあると当社が認めた場合あるいは該当すると判断した場合は、事前に通知することなく、会員登録を拒否し、会員登録を取消し、本サービスへのアクセスの拒否・利用停止を行い、会員に関連するコンテンツの情報の削除を行い、その他必要な措置をとることができるものとします。
  3. 前項の規定の適用により、会員に損害等が生じた場合でも、会員は当該損害等について当社および他の会員その他の第三者に請求をしないものとします。
  4. 第1項に定める「暴力団員等の共生者」とは、以下のいずれかに該当する者をいいます。
  (1)暴力団員等が、経営を支配していると認められる関係を有する者
  (2)暴力団員等が、経営に実質的に関与していると認められる関係を有する者
  (3)自己もしくは第三者の不正の利益を図る目的、または第三者に損害を加える目的をもってするなど、不当に暴力団員等を利用していると認められる関係を有する者
  (4)暴力団員等に対して資金等を提供し、または便宜を供与するなど関与していると認められる関係を有する者
  (5)暴力団員等と社会的に非難されるべき関係を有する者
  (6)その他暴力団員等の資金獲得活動に乗じ、または暴力団員等の威力、情報力、資金力等を利用することによって自ら利益拡大を図る者

  第43条 （損害賠償）
  1. 会員は、本規約に違反することにより、又は本サービスの利用に関連して当社に損害を与えた場合、当社に対し、その損害を賠償するものとします。また、会員が雇用・契約している従業員等や代理で登録している所属パフォーマーが本規約に違反して当社に損害を与えた場合も同様とします。
  2. 会員が、本サービスの利用に関連して会員その他の者からクレームを受け又はそれらの者との間で紛争を生じた場合には、直ちにその内容を当社に通知するとともに、自らの費用と責任において当該クレーム又は紛争を処理し、その結果を当社に報告するものとします。
  3. 会員による本サービスの利用に起因して、当社が、第三者から権利侵害その他の理由により何らかの損害賠償請求を受けた場合は、当該会員は当該請求に基づき当社が第三者に支払いを余儀なくされた金額及びかかる事由に起因し当社において生じた又は負担した一切の損害及び費用（弁護士費用等を含みますが、これらに限りません。）を賠償するものとします。
  4. 消費者契約法の適用その他の理由により、本条その他当社の損害賠償責任を免責する規定にかかわらず当社が会員に対し何らかの損害賠償義務を負う場合においても、当社の会員に対する損害賠償の金額は、当社がその損害賠償責任の原因事由が生じた時点から遡って１年以内に会員より実際に受領した手数料の合計額を上限とします。

  第44条 （存続規定）
  本会員の登録又はパフォーマー登録が終了したときといえども、本規約は有効に存続し、当社、会員を拘束するものとします。

  第45条 （本規約等の変更）
  1. 当社は、本規約又は本サービスの内容を随時改定又は変更できるものとします。当社は、本規約を変更した場合には、会員に対して通知を行い、又は当社ウェブサイトに掲載するものとします。変更された本規約の効力は、変更後の本規約が当社ウェブサイトに掲載された時より生ずるものとします。
  2. 当社は、前項の当該改定又は変更の通知後、会員が本サービスを利用した場合又は会員が当社の定める期間内（定めがない場合は通知の日から30 日間）に会員登録取消又はパフォーマー登録取消の手続をとらなかった場合には、当該改定又は変更の内容に同意したものとみなします。
  3. 当社は、理由の如何を問わず、本規約の改定又は変更に起因し会員が会員登録取消又はパフォーマー登録取消の手続をとったことにより会員に生じた損害から一切免責されるものとします。

  第46条 （連絡及び通知）
  1. 本サービスに関する問合せその他会員から当社への連絡若しくは通知又は本サービスに関する当社から会員に対する連絡若しくは通知は、当社の定める方法にて行うものとします。
  2. 当社が前項に定める連絡又は通知の方法により、会員が予め届け出た連絡先又は通知先に連絡又は通知を行った場合、会員が当該連絡又は通知を受領したか否かにかかわらず、通常到達すべきときに到達したものとみなします。
  3. 当社からの通知及び連絡が不着であったり遅延したりといったことによって生じる損害において、当社は一切の責任を負わないものとします。
  4. 会員が当社に通知、連絡、問合せをする必要が生じた場合、当社が提供するウェブサイト上の問い合わせフォームをもって行うこととします。
  5. 前項に基づき会員から問合せ等があった場合、当社は、その時点で社内的に定めている方法により、本人確認を行うことができるものとします。また、問合せ等に対する回答方法（電子メール、回答書面の郵送、電話など）については、その都度当社が最適と考える回答方法を利用して回答することができるものとし、その回答方法は会員が決めることはできないものとします。
  6. 会員が当社従業員に対し、業務時間外の至急対応や、電話・対面での応対を強要する行為は禁止とします。

  第47条（本サービスの譲渡等）
  当社は、本サービスの事業を第三者に譲渡した場合には、当該事業譲渡に伴い、本サービスの運営者たる地位、本規約上の地位、本規約に基づく権利及び義務並びに会員の登録情報その他情報を当該事業譲渡の譲受人に譲渡することができるものとし、会員は、会員たる地位、本規約上の地位、本規約に基づく権利及び義務並びに会員の登録情報その他情報の譲渡につき本条により予め同意するものとします。なお、本条に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。

  第48条 （分離可能性）
  本規約のいずれかの条項又はその一部が無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。

  第49条 （完全合意）
  本規約は、本規約に含まれる事項に関する契約の当事者である当社と会員間の完全な合意を構成し、口頭又は書面を問わず、本規約に含まれる事項に関する当社と会員間の事前の合意及び了解等に優先します。

  第50条 （合意管轄）
  本規約は、日本法に基づき解釈されるものとし、本規約に起因又は関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。

  第51条 （協議）
  本規約に定めのない事項又は本規約の解釈に疑義が生じた場合には、当社及び会員は、信義に則り、誠実に協議を行い、速やかに解決を図るものとします。

  ") %>
</div>
